[2016-03-09 19:37] budparr commented on #44
I'm afraid you really won't get a sense of this without it being on the site, but here's the preview of a new version you wanted.
![256](https://cloud.githubusercontent.com/assets/115347/13647958/70f793aa-e604-11e5-84dd-ea5e6144c44a.png)

[2016-03-09 20:52] zchyde commented on #36
Okie doke here it is, compressed and somewhat resized

https://www.dropbox.com/sh/agjhrq81qstnign/AAC4FAT8RobMPs7V5yRWD5pPa?dl=0

[2016-03-09 22:07] budparr commented on #94
I put the carousel in. As I mentioned earlier, you probably shouldn't edit the page now in the CMS editor (you could, but I think there's a good chance it wouldn't work out well), but @zchyde can edit it right here on Github: https://github.com/sonnetmedia/brooklinebooksmith.com/blob/gh-pages/_landing_pages/the-booksmith-event-spaces--partnerships.md

Right now the images don't enlarge or anything

[2016-03-09 22:12] peterbooksmith commented on #94
Thanks Bud.  @zchyde - are you able to get to work on Tom's word/text changes, aim to have that done sometime tomorrow?

[2016-03-09 22:24] zchyde commented on #94
@peterbooksmith yep. Did we get a banner image from them or should I just put in a placeholder?

[2016-03-09 22:25] zchyde commented on #94
Oh! I have to say, @budparr , this is pretty cool with the carosels. I think this will work well for this page.

[2016-03-09 22:29] peterbooksmith commented on #94
No banner image yet, that is "coming soon" per Tom.  I have a collection of his requested text edits, I can hand that to you so that you have it all in one place.

[2016-03-09 22:30] budparr commented on #94
Thank you. I think you're right. Despite my (and [others](http://shouldiuseacarousel.com/)) caution about carousels, I do think it works here, and hopefully this audience will be motivated enough to flip through the images.

[2016-03-09 22:32] budparr commented on #94
@zchyde when you make edits to the copy in Github, if you can, when it asks you to explain what you're doing (box under "commit changes"), just write in #94 and the change will also be registered here with this issue.

[2016-03-09 22:34] shuchibooksmith commented on #94
this whole page looks GREAT. thank you all for handling!

On 3/9/2016 5:26 PM, Zoe wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

P Please consider the environment before printing this email.

[2016-03-09 22:37] zchyde commented on #94
@budparr ok. Something you want me to do every time i commit?

[2016-03-09 22:43] zchyde commented on #94
oh whoops, ok I get how it works now

[2016-03-09 22:45] zchyde commented on #94
Ok, I believe all of Toms changes (banner excluded) have been made, @peterbooksmith

[2016-03-09 22:46] budparr commented on #94
If you're in the CMS/editor it makes the commit messages for you, of course. So no worries there. Otherwise, it's good to give some details about what you're doing, including, if applicable, reference the issue the change relates to.

[2016-03-09 22:49] budparr commented on #94
@zchyde here's the interesting part. If you click on your commit here in this issue (it's the "e041317" to the right of where it says "…Zchyde added a commit…" you'll see exactly what you changed, which is the point of making the references. We could even discuss those changes inline, etc.

[2016-03-11 14:57] zchyde opened #144 "Remove "featured" divider from home"
Peter and Shuchi convinced our Powers that Be that the "featured" blog post was clouding up our other content, so even though you just put this in the other day, can you please take just the "featured" divider off of the home page and I will unpin the featured post? Sorry again, this has been somewhat of a battle here. To be clear we want to keep "latest from the blog" and "events" dividers.

[2016-03-11 15:01] #144 closed

[2016-03-11 15:02] budparr commented on #144
No problem!

[2016-03-11 17:46] budparr commented on #22
@zchyde can you (or someone) log in to Snipcart and fill in the "profile" information as well as the "billing & payments" information? It's on the bottom right under the account menu.

Thanks!

[2016-03-11 17:52] zchyde commented on #22
@peterbooksmith I think this is a job for you, I don't know about billing & payments. I am going to send you the login information in a moment

[2016-03-11 18:20] peterbooksmith commented on #22
I am just checking with Tim on these two items.  Need to see if he wants a different email for the Sender email and which credit card he wants for the billing.  Will take care of this ASAP.

[2016-03-11 18:20] budparr commented on #22
sounds good. You can always change it later, if need-be.

[2016-03-11 18:28] budparr commented on #22
When you all get the copy and banner image, could you post it here? I know some of that is coming from Tim, I just want to keep it all in one place.

[2016-03-11 18:29] budparr commented on #22
for posterity

Terms offered will be 6 months (gift); 12 months; or Indefinitely. Members may cancel at any time.

No shipping charges for Pickups. Books being shipped inside MA will be charged tax plus 7.00 for shipping. Books shipped outside of MA will be charged no tax and 7.00 shipping.

[2016-03-11 18:39] zchyde commented on #94
@budparr  it would appear I have ruined everything?

http://www.brooklinebooksmith.com/the-booksmith-event-spaces--partnerships/

[2016-03-11 18:39] zchyde commented on #94
And in the CMS!

[2016-03-11 18:40] budparr commented on #94
You can't edit this page in the CMS. See note above.

[2016-03-11 18:40] zchyde commented on #94
oh I thought that just mean I can't edit the carousels, I'm sorry

[2016-03-11 18:42] budparr commented on #94
Stand by. I'll fix it.

[2016-03-11 19:08] budparr commented on #94
Sorry that took a while. All three of my kids are home sick from school, so I'm a bit scattered.

The beauty of having everything in version control is that it's easy to revert changes back to an earlier version. So that's done. Just make your changes for this page right in Github. Let me know if you have any problems with that.

[2016-03-11 19:14] budparr commented on #94
If you give me a few minutes, I see if I can make this editable in the CMS for you.

[2016-03-11 19:36] peterbooksmith commented on #22
OK, I have entered billing/payment info into Snipcart, and the profile is set for now.  We are going to change the sender email.  Will post other info when possible.

[2016-03-11 20:10] zchyde commented on #94
Oh, my god I'm so sorry, thats too many sick kids.

I don't mind editing it here in github, I just forgot/misunderstood. Although I do have a question, they want the banner to remain a decent size but don't want text on it. Another way of saying this is they want to get rid of text on the banner, which is easy to do - I just deleted it - but then the banner size shrinks to a mini banner, and I thi

[2016-03-11 20:10] zchyde commented on #94
I can take some screenshots if that made no sense.

[2016-03-11 20:11] zchyde commented on #22
Thats fine, I set all that up so no worries.

[2016-03-11 20:13] budparr commented on #94
Ah, yes. Once you're editing on Github you get to access secret fields!

Up in the front matter (where there's stuff like "title: this is a title") you can add a new line like this:

`banner_height: 350`

where, in this case, the banner height will be 350px. You can change "350" to any number you like.

[2016-03-11 20:22] zchyde commented on #94
Peeeeeeerfect

[2016-03-11 20:27] budparr commented on #94
As I slowly unveil to you the power of our publishing system… :sunglasses:

[2016-03-11 21:05] budparr opened #145 "Create in-page slideshows"
prompted by #94

[2016-03-11 23:32] shuchibooksmith commented on #44
sorry i never responded to this! let's go for it. thanks!

[2016-03-11 23:46] peterbooksmith commented on #94
This still is not appearing correctly for me.  I think "Brookline Booksmith Programs & Partnerships" is supposed to be under the banner photo, but above the first paragraph that begins, "In-Store events...."?

[2016-03-12 01:16] budparr commented on #44
Great. I'll take care of it first of the week. Leaving this issue open until I get it complete. Have a great weekend!

[2016-03-12 01:17] budparr commented on #94
@peterbooksmith I changed it. Let me know if that's how you want it. Have a great weekend!

[2016-03-13 01:21] peterbooksmith commented on #94
@budparr - the font and/or size of that "Brookline Booksmith Programs & Partnerships" appears to be different than the other section headers below it.  I think that is the only thing.  Thanks.

[2016-03-14 13:29] zchyde commented on #94
@peterbooksmith all set

[2016-03-14 13:29] budparr commented on #94
Hi @peterbooksmith - that's by design. There's a hierarchy to headings. That one introduces the page, the ones below are section headers. I can change it if you like, but wanted to let you know that there's a purpose for it. Just let me know.

[2016-03-14 13:34] budparr commented on #94
crossed paths with you @zchyde, thanks for making the change.

[2016-03-14 13:37] zchyde commented on #94
@budparr I was too quick. Right now all the headers are the same size, I kind of don't have any feelings about it either way, I can change it back if we want.

[2016-03-14 14:01] budparr commented on #94
I think I see the issue. I hadn't initially intended to use the "brand font" for headings, but had on the lower level ones. I fixed the inconsistency and put the higher level heading back as it was. Now we have the hierarchy and they look consistent.

[2016-03-14 14:02] zchyde commented on #94
Oh excellent, I love it, perfect

[2016-03-14 15:13] peterbooksmith commented on #94
Got it thanks. Yes, when last I had looked that top one looked like a slightly different font, and I see whaty you mean about the hierarchy.  I will double-check with Tim/Tom to make sure all is well with them, and then this should be done.

[2016-03-14 17:23] budparr commented on #22
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;fWZ5MPt0&#x2F;32-febc-ecommerce"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> FEBC Ecommerce</a>

[2016-03-14 18:55] peterbooksmith commented on #94
At some point, they may want to change some text or possibly add a map or more info about the store, but they are all set for now.

[2016-03-14 19:35] budparr commented on #94
Great. I'll close the issue for now. Feel free to open a new issue in the future when they want changes.

[2016-03-14 19:35] #94 closed

[2016-03-15 12:57] budparr commented on #22
Just an update, in case you haven't heard it directly from Tim. He and I spoke yesterday. I've laid the groundwork for the FEBC on the site and have reviewed the specifications for what we're trying to accomplish. I've also reviewed the examples (given above) of others' programs, none of which are executed very well, which we agree on.

To accomplish any ecommerce there are quite a few pieces to t

[2016-03-15 15:31] peterbooksmith commented on #22
Hi Bud,

 Thank you for the update.  I am at home sick today (yesterday too), so I am connected and seeing emails, etc, but not quite as engaged as normal.  If anyone needs anything from me, just let me know.

 Best,
 Peter

----------------------------------------
 From: "Bud Parr" <notifications@github.com>
Sent: Tuesday, March 15, 2016 8:57 AM
To: "sonnetmedia/brooklinebooksmith.com" <brookline

[2016-03-15 18:38] budparr opened #146 "Issue with post image?"
Hi @zchyde wondering if you're having problems with images at all? I notice this one, which was there yesterday, is messed up.

http://www.brooklinebooksmith.com/2016/03/14/this-week-in-books/

https://github.com/sonnetmedia/brooklinebooksmith.com/blob/gh-pages/_posts/2016-03-14-this-week-in-books.md

[2016-03-15 18:45] zchyde commented on #146
huh well what I've been doing is letting people upload their blogs to drafts, then I go in, take out their images and replace them with compressed ones, which I attempted ot do to this one thing morning, but maybe i messed it up somehow

[2016-03-15 18:47] zchyde commented on #146
the post in the CMS editor has the image there...

[2016-03-15 18:50] budparr commented on #146
been working so far, but something went awry with that one. That workflow sounds a bit messy. I'll see if I can automate it for you (after I get through the FEBC commerce stuff) to some degree, though I think it's probably creating some unnecessary images if they're uploading and then you're uploading a new one over that.

At any rate, I'll dig around

[2016-03-15 18:53] zchyde commented on #146
I'm trying to delete the larger files as I go, but yes I have missed a few

[2016-03-15 18:54] zchyde commented on #146
the problem is that not every computer we have is equipped to resize images, otherwise I would feel more comfortable telling bloggers to do it themselves

[2016-03-15 18:56] budparr commented on #146
No worries! We'll figure something out.

It looks like that image either is corrupt or could have something to do with other images being named "untitled." Not sure. I'd just try uploading it anew, with a new name.

[2016-03-15 19:03] zchyde commented on #146
I just did that, waiting to see if it works.

[2016-03-15 19:04] budparr commented on #146
I see that. Seems to be taking a while to update. hmmm.

[2016-03-15 19:09] budparr commented on #146
There it is. Thanks. I'll revisit the workflow issue soon and try to make your life easier. :smile:

[2016-03-15 19:09] #146 closed

[2016-03-15 19:09] budparr opened #147 "Improve Post image workflow"
Arising from #146 - the workflow for images needs special handling right now to get images cropped/compressed. Let's improve that (without sacrificing best practices).

[2016-03-16 14:40] budparr commented on #22
Hi everyone,
I believe I have a solution for us. I'm going to work on testing this today and tomorrow, with work on implementation right after. I'll update you once I've done the tests.

hope you're feeling better, @peterbooksmith

[2016-03-16 15:45] shuchibooksmith opened #148 "Access web traffic numbers"
hi @budparr  - I know we touched on this briefly before but I forget how we left it - how do access traffic numbers and that kind of data for the website? particularly for the blog, but also in general.

[2016-03-16 16:08] budparr commented on #148
Richard Steinberger has all this information.

[2016-03-16 16:21] budparr commented on #148
by the way, that's not to say you can't have access too, or, if you want I can set up reports for you, but Richard might be able to do that for you, or give you the information you need. Just let me know!

[2016-03-16 16:30] shuchibooksmith commented on #148
no, it's great for richard to have this info! if anyone else needs access i'll let you know. thanks!

[2016-03-16 16:30] #148 closed

[2016-03-18 15:07] budparr commented on #22
Updating you all here with the note I just sent to Tim:

[2016-03-21 15:07] #44 closed

[2016-03-22 14:13] shuchibooksmith commented on #36
Hi @budparr! I just wanted to check in on this. I know you've been working on other projects, but I think (?) we're all caught up, and just want to see if you need anything from us.

[2016-03-22 14:18] budparr commented on #36
Hi @shuchibooksmith - the ecommerce stuff has been eating up a fair amount of time, but as soon as I finish that I tackle this. I did to the favicon thing.

[2016-03-22 14:21] shuchibooksmith commented on #36
Yes! I saw the favicon. I really like it, I think it looks like the blue box around the white b makes it look like it's pulled right from the storefront sign. Haven't heard any feedback from anyone else, but those are my thoughts.

[2016-03-22 14:25] shuchibooksmith opened #149 "upcoming events page glitch"
when you make the upcoming events page window narrower, the book cover enlarges and gets grainy
![image](https://cloud.githubusercontent.com/assets/15218891/13954717/554831f0-f018-11e5-87c9-b8f16f0f9628.png)

[2016-03-22 14:26] shuchibooksmith opened #150 "search bar disappears"
This glitch is still happening - when you change the sizes of the window, there are a few inbetween sizes where the search bar disappears
![image](https://cloud.githubusercontent.com/assets/15218891/13954765/94c48d2e-f018-11e5-925c-54d3a9b234ed.png)

[2016-03-22 14:29] budparr commented on #150
This is part of improving navigation, so I'm going to close this issue in favor of the existing issue. Thanks.

[2016-03-22 14:29] #150 closed

[2016-03-22 15:09] budparr commented on #149
Noted. It's an unfortunate side-effect of the original images not being great quality, which shows only on mobile devices, but I'll see if I can adjust the breakpoints so that they go full width only on the smallest screens.

[2016-04-13 13:39] zchyde opened #151 "Blog post save glitch"
Oh I haven't done this in so long, is this where I still post issues?

Something is happening with the blog posts, when they are drafts and I hit "publish" on them, and check the "publish" box, they are then moved from Drafts to Posts however they don't show up on our actual blog until I go in and make a save, however miniscule, while it is in the posts folder. If I delete a comma or put a space i

[2016-04-13 13:43] budparr commented on #151
Yes!

How long as this been going on?

[2016-04-13 13:58] zchyde commented on #151
At least a week, I was so scattered I didnt really begin to notice it until thurs/fri of last week and then I thought maybe I was just crazy but I posted Lydia's most recent post last night and it didn't show up until about 30 minutes ago when I added a space to her body content and saved

[2016-04-13 14:22] budparr commented on #151
Okay, I'll check it out and let you know.

[2016-04-22 01:12] budparr commented on #151
Finally making some progress on this, @zchyde  - went through some trial and error, and finally the guys at the editor we're using narrowed it down. Hopefully we'll have a fix in soon, so in the meantime, that extra save step (should be just when you've published a draft post) will work.

[2016-05-05 13:26] shuchibooksmith opened #152 "Featured events"
Hi, Bud!
Long time no talk!! Hope all is well.
We have an event coming up with Chuck Pahalniuk and we're mostly handling the sales for it online through eventbrite. Because that's the only way to purchase tickets, and he's got a HUGE fanbase, I'm wondering if there's a way we can feature these kinds of events more prominently so that folks can find it easily online?
For now we're pinning a blog po

[2016-05-05 15:25] budparr commented on #152
Noted. I'm currently working on a new layout for the home page, so I'll incorporate this into that work.

[2016-05-05 15:46] peterbooksmith commented on #152
@budparr since you mention a new home page layout, I should ask, have you or anyone on our end thought about having a link to the signed first editions page on the home page, once we launch?  I know it can definitely be another item in the top/drop-down menu, but I would not be surprised if Tim and others would like to see more visible than that, at least initially upon launch.  I will discuss wit

[2016-05-05 19:46] budparr commented on #152
Yes. Well, one of the things I need to address with a new layout (and, if you recall, that last attempt a while back was trying to do this too) is that there are a lot of items on the menu, all of them "equally" important, which is not ideal.

[2016-05-05 20:14] peterbooksmith commented on #152
Very true.  Let me see if I can find out what could be most important to the most people.

[2016-05-05 20:21] budparr opened #153 "Consider Menu items Reconfiguration"
Ahead of enhancing the site's layout, we should discuss the menu items, as started [here](https://github.com/sonnetmedia/brooklinebooksmith.com/issues/152#issuecomment-217256884) with @peterbooksmith

This was one approach I had brought up earlier. I understand that it's not ideal, and also why not, but just to start the discussion anew, I thought it would be helpful to have something to work with

[2016-05-05 20:27] shuchibooksmith commented on #153
I had really liked the direction we were moving in with this originally - specifically, the two bar format. i think that moving the search window up there would be helpful too. i know one concern had to do with the size of the banner, and i'm wondering if we can keep that as is, what people think -
![image](https://cloud.githubusercontent.com/assets/15218891/15056126/26f166c6-12de-11e6-8f62-bb4c1d

[2016-05-05 20:35] budparr commented on #153
I remember that conversation and after going back over it, I may have misinterpreted your comments about the banner, but yes, making the banner larger is possible.

[2016-05-05 20:40] shuchibooksmith commented on #153
okay! That would help - i know a couple of people like the large banner image. peter is more tuned in to the priorities of what needs to be represented on the main menu, so i'll let him handle that part.

[2016-05-16 19:52] peterbooksmith commented on #22
Hi @budparr  - Zoe told me there are some things you have to change on the SFE page, that she cannot do them yet.  Do you think those could be done tomorrow?  While we don't launch publicly until 5/24, I need to go over all of our material this week with Tim and our other owners, make sure all is well and final and ready.  Thanks.

[2016-05-16 21:40] budparr commented on #22
Hi, @peterbooksmith - it's not just adding content, I need to code in the ability to have copy for the books listed there, so it's taking a bit, but should be ready by tomorrow, no problem.

[2016-05-16 21:47] peterbooksmith commented on #22
That's great, thanks.

[2016-05-18 16:09] peterbooksmith commented on #22
@budparr - is this the most up-to-date verson now:  http://www.brooklinebooksmith.com/sfe/#subscribe

[2016-05-18 17:33] budparr commented on #22
Yes, it is.

[2016-05-19 14:33] peterbooksmith commented on #22
@budparr - I have some edits for you.  If we are ready for @zchyde to do these, that's great, though she is not here until this afternoon.

1. First section, "What it is" - would you add a sentence before the last one, so after "...your home library."  please add "In ten, twenty, and thirty years you will have a unique history of the changes in the literary climate over time."  (followed by the la

[2016-05-19 21:56] budparr commented on #22
Hi @peterbooksmith - I've been out all afternoon. @zchyde have you done these copy changes, or do you need me to?

[2016-05-19 22:37] peterbooksmith commented on #22
@budparr  - not to speak for anyone, but Zoe is setting up for and hosting an event right now, so would you be able to take care of these?

[2016-05-20 14:41] zchyde commented on #22
thanks for making these changes @budparr, this month is super busy events wise. I think these changes are all done, @peterbooksmith

[2016-05-20 15:46] budparr commented on #22
Yes, they are. Not sure if you get notifications on the changes, but they're reflected here in the thread. You'll see something like "budparr added a commit that referenced this issue…"

[2016-05-23 14:40] peterbooksmith commented on #22
@budparr  - Happy Monday.  Zoe is in later again today, so would you be able to take care of this?

Near the bottom of the page, under "Can I return or opt-out of an SFE selection?"  In the last sentence, "For people in our delivery plan who have any questions or concerns about returns, please email SFE@brooklinebooksmith.com"   The email address is not showing up as a link.  Even though that appe

[2016-05-23 17:38] budparr commented on #22
Sounds good - I made the change. I'm going to be making a server change so we can serve the site over HTTPS, but that's not a big deal. And, you need to let me know where you want it in the menu. It can't go in the main list without taking something out.

And that leads me to the fact that I very much need to hear back from you on "[Consider Menu items Reconfiguration #153](https://github.com/sonn

[2016-05-23 17:52] peterbooksmith commented on #22
I know, and sorry I have not said anything further about that.  For this thing, for right now, we can just make a blog post about SFE and pin it to the top.  I know that is not really anyone's favorite thing to do, but it is a quick-fix and it will make SFE kind of front and center for a little while.  You ok with that?

Regarding the menu items, I did bring that up with Dana, Lisa, etc, but haven

[2016-05-23 18:42] budparr commented on #22
No worries. Yeah, the SFE thing was quite a rabbit hole, wasn't it. I didn't imagine something seemingly so simple, would be so fraught with complexity.

[2016-05-23 19:34] peterbooksmith commented on #22
Neither did I.  Lots of very specific pieces to it.  You should have been here for all the discussion over all the various pieces!  If it works they way we hope, it could mean a 150-200 hardcover sales per month, so hopefully worth it all.   After tomorrow I can push more around here to focus on what we want to do with the homepage, menu, etc.

[2016-05-24 14:30] peterbooksmith commented on #22
Just checking Bud, is everything all set and are we good to go?  We have emails and social medias scheduled and ready, so I just want to be sure.

[2016-05-24 14:52] budparr commented on #22
yep

[2016-05-24 14:52] peterbooksmith commented on #22
sweet, thanks

[2016-05-24 23:58] shuchibooksmith opened #154 "HOME on homepage?"
Hi, Bud!
I was just on the homepage and noticed the white Home lettering on the banner, Figure you're working on something?
![image](https://cloud.githubusercontent.com/assets/15218891/15523627/d481dca2-21e9-11e6-9414-561c56d4649e.png)

[2016-05-25 01:15] #154 closed

[2016-05-25 01:17] budparr commented on #154
Strange. No idea what caused it, but may have had something to do with software upgrades. I fixed it, and will keep an eye out for it happening again. Thanks!

[2016-05-27 20:58] peterbooksmith commented on #153
@budparr  - so far so good with SFE.  Regarding THIS issue, I recommended to our other owners that we ask/let you come up with a different design or designs for the home page, based upon what you have seen this far with google analytics and what you know about us after the past 9+ months and we go from there.  If you want to continue in the direction represented above, fine.  As you previously men

[2016-05-27 21:04] budparr commented on #153
Absolutely, perfect, @peterbooksmith, seriously. Have a great weekend.

[2016-06-01 16:11] shuchibooksmith opened #155 "archive folder in posts?"
hello @budparr!
one of us accidentally deleted the archive folder that was in the posts page. i'm not sure what was in it? how important it was? how easy it is to replace?
sorry about that...
shuchi

[2016-06-01 16:18] budparr commented on #155
Hi @shuchibooksmith  - it was an archive folder of really old posts. It was just there for safekeeping. I can restore it if you like, but it's not 100% necessary.

[2016-06-01 16:20] shuchibooksmith commented on #155
@budparr ah okay. so all the stuff from blogger. yeah, maybe restore it then? i don't know if we have those old posts anywhere else...

[2016-06-01 16:23] #155 closed

[2016-06-01 16:26] budparr commented on #155
It's restored. Have a good one!

[2016-06-07 20:52] peterbooksmith commented on #22
@budparr @zchyde  - now we would like to change some things on the SFE page.  Should be mostly text changes.  We want to replace the top section - from "What it is" to just before the blue "Subscribe" with:

Announcing a very exciting new program for Booksmith and book lovers:
The Signed First Editions Book Club (SFE)

Why join? Consider this testimonial from one of our patrons and subscribers.

"

[2016-06-07 20:54] peterbooksmith commented on #22
I am going to forward Tim's email about this to both of you so that you can see what he said.  It includes the above text, with some ideas about formatting, etc.   He includes, " I think the larger FAQ section could be on another page or in smaller font."    My feeling is we don't want to put the FAQ on another page, just leave it as is, but would you let me know what you think about that?  Thank

[2016-06-07 20:59] budparr commented on #22
I'm all for keeping it (the text) as short as possible, but I think that FAQs are fine below. The most important thing is to have the actual buttons as high up the page as possible.

[2016-06-07 21:02] peterbooksmith commented on #22
I think that's what Tim had in mine.  Reduce the text and the top, make it a bit more dynamic word-wise and get  the subscribe buttons higher.

[2016-06-07 21:02] peterbooksmith commented on #22
I think that's what Tim had in mind. Reduce the text at the top, make it a bit more dynamic word-wise and get the subscribe buttons higher.

[2016-06-07 21:08] budparr commented on #22
Okay. You want me to do the copy? No problem, if so. Just don't want to cross-over @zchyde

[2016-06-07 21:12] peterbooksmith commented on #22
Your call @zchyde - if you want to attempt this, fine.  If you already have a lot on your plate right now, that's ok too.

[2016-06-13 00:14] peterbooksmith commented on #22
@zchyde - any thoughts on this?  If you can't get to this tomorrow, then @budparr  should take care of it.

[2016-06-13 00:15] peterbooksmith commented on #153
@budparr - how is this going?  Any ideas on a time frame?

[2016-06-13 13:44] zchyde commented on #22
HELLO SORRY Im here and I will do this right now

[2016-06-13 14:00] budparr commented on #153
Hi @peterbooksmith - My M.O. with you guys is to come up with a more fully-formed and polished version before showing you because I know you have a rather lengthy internal process, which I don't want to tax. I've been taking my time to come with something that is long-term viable given the above, but I'd say I can show you something within the next week.

[2016-06-13 14:09] zchyde commented on #22
@peterbooksmith as far as I can tell, the above changes have been made? If I missed anything, let me know. I think this looks much better.

[2016-06-13 21:59] zchyde commented on #22
Hwe @budparr , I have some updates from Peter that I'm not sure how to do myself -

1. **If you have more questions about the SFE Program, review our Frequently Asked Questions list or email Tim Huggins at sfe@brooklinebooksmith.com.**   -   In this sentence, Frequently Asked Questions should be a link that moves people down the page and sfe@brooklinebooksmith.com should be a link as well (that's

[2016-06-13 22:12] budparr commented on #22
Sure thing. I thought we stopped doing the pinned thing? At any rate, I'll make it happen. The first is just a relative link. I'll take care of it and you can look at what I did so so you know for next time. Hope you're doing well!

[2016-06-13 22:48] peterbooksmith commented on #22
We did stop with the pinning...except for this thing.  We still want the SFE thing to be featured, at least a while longer.  Thanks for taking care of this.

[2016-06-13 22:49] peterbooksmith commented on #153
That does sound like our process.  Something this week would be great.  Thanks.

[2016-06-13 23:43] budparr commented on #22
I'm closing this issue. Any new issues related to SFE should have their own issue. The last items there are set.

[2016-06-13 23:43] #22 closed

[2016-06-14 00:01] #121 closed

[2016-06-14 00:11] #122 closed

[2016-06-14 18:50] peterbooksmith opened #156 "SFE page changes"
On http://www.brooklinebooksmith.com/sfe/
1. could "Announcing a very exciting new program for Booksmith and book lovers:
The Signed First Editions Book Club (SFE)"  be...bigger, bolder, something that is more dynamic? In order to match other type in the page, maybe the same size and style as "Signed First Editions Book Club" right under "Subscribe?

2. Tim would prefer the Julian Barnes book stil

[2016-06-14 21:41] budparr commented on #156
All set.

[2016-06-15 19:37] zchyde opened #157 "Way to paste HTML into post direct"
Bud I'm pasting an email I just recieved from one of our bloggers:

"I am wondering if there is a way to paste HTML formatted text directly into a blog post, if that makes sense.

I would love it if I could highlight and copy bmail text from Constant Contact, paste it into the blog template, and keep all of the embedded links as I do it. As it is I have to go back and copy/paste each link into the

[2016-06-15 19:39] budparr commented on #157
did you try it?

[2016-06-15 19:44] zchyde commented on #157
NOPE! Why would I do an insane thing like that

(trying now)

[2016-06-15 19:45] budparr commented on #157
this might just work, but it won't be clean.

[2016-06-15 19:49] zchyde commented on #157
http://www.brooklinebooksmith.com/2016/06/15/open-doors-always/ ok it appears to have not worked, I can now confirm that

[2016-06-15 19:51] budparr commented on #157
Send me what you want to paste in and I'll see what I can figure out.
![](https://link.nylas.com/open/eekwpji0x2ie8fu5fvyj5z4c/local-
5276c396-ccd0?r=cmVwbHkrMDAwMWMyOTM0NzBjOTIwMGZlOGQ1ZjQzMGE0ZDU2ZDg2NTA0OWE2ZDhkN2NkODZlOTJjZjAwMDAwMDAxMTM3OTczNjM5MmExNjljZTA5OTExZjZkQHJlcGx5LmdpdGh1Yi5jb20=)

On Jun 15 2016, at 3:49 pm, Zoe &lt;notifications@github.com&gt; wrote:

always/](http://www.brooklineb

[2016-06-15 19:52] zchyde commented on #157
This is the link -

https://www.bostonglobe.com/lifestyle/style/2016/06/15/our-own-private-orlando/QilPzYWFh1xHq91OnoFn1L/story.html

This is the post area that should be linked, in bold -

 Here's Lin-Manuel Miranda's supremely moving moment at the Tony Awards, a fearfully powerful **response from our community**, and a message of hope from the Dalai Lama. 

thank you!

[2016-06-15 19:54] budparr commented on #157
one thing. what I meant was not to post the HTML, but post the rendered HTML (that is, what you see).

[2016-06-15 19:56] zchyde commented on #157
Im not sure I know what you mean, I'm so sorry. Just copying and posting the direct text from out bmail doesn't appear to work, I assume thats not what you meant?

[2016-06-15 20:01] budparr commented on #157
Yeah, that's what I meant. I thought it would work, but you're right, it doesn't. That tends to, even on editors where it ostensibly works, creates a mess of html.

[2016-06-17 00:23] budparr commented on #157
Hey, @zchyde - I was just thinking about this. If the pasting the newsletter over to the blog is an ongoing thing, how about creating the newsletter on this side, as part of the site, creating an archive. Just a thought.

Aside from this, any other issues with the editor?

[2016-06-17 14:12] peterbooksmith commented on #156
A few more things here.
1. In the "What Does It Cost to Join..." section:

A. There should be a space between "our" and "Pickup Plan" - "or you can save on shipping and choose ourPickup Plan (29.00/month)"

B. Also, could the "sfe@brooklinebooksmith.com" at the end of that section be a hyperlink to that email address?    (...or email Tim Huggins at sfe@brooklinebooksmith.com.)

2) PayPal text for

[2016-06-17 14:20] zchyde commented on #157
No issues with the editor that I can think of. I think that could be interesting, I think predominantly Paul is just copying and pasting the text and one image from the newsletter. There is more to it, "books of the month" and things like that. I know for a fact that the Powers That Be on our end are big fans of the e-newsletter form, we changed the format when the new website launched and we cut

[2016-06-17 14:37] budparr commented on #156
the copy changes are done. I'm working on beastly Paypal right now for the other.

[2016-06-17 14:49] #156 closed

[2016-06-17 14:56] budparr opened #158 "Check to make sure SFE books change over"

[2016-06-17 15:14] budparr commented on #157
Okay. I've been thinking about your workflow and would like to help make it as smooth as possible. Our editor has a few limitations (but for very good reasons, which I should fully articulate to you at some point), and I want to make sure that we find a good balance.

[2016-06-17 15:14] #157 closed

[2016-06-17 15:48] zchyde commented on #157
As always fully interested to hear whatever you want to teach me. The main thing that bugs me is still image compression, mostly going through and finding the image bloggers have uploaded, saving, compressing, deleting their copy, uploading mine. But I could also structure how they're uploading their photos differently to make my life more easier but I've yet to impliment it.

[2016-06-17 18:45] budparr commented on #157
Okay, I'll take that into consideration. Are you doing that locally, or through the editor?

[2016-06-17 20:26] budparr opened #159 "Review and update local schema for address"
https://schema.org/LocalBusiness

[2016-06-17 20:31] zchyde commented on #157
everything happens through the editor so they can get positioning and layout the way they want it. To compress I use compressor.io . I was thinking that to make my life easier I could have everyone upload their images to a specific folder, or to the area that pops up when you open the upload box - that way, they're easier to track down and eliminate, then I could upload my files alone into the "up

[2016-06-17 21:35] budparr commented on #157
Funny. I just recently cropped and compressed and moved (out of the root
folder, into uploads) a whole bunch of images. Didn't know you were intending
to do so.![](https://link.nylas.com/open/eekwpji0x2ie8fu5fvyj5z4c/local-
e04fa71e-
4c1a?r=cmVwbHkrMDAwMWMyOTNkNmI5MGJlNDg0ODgzNzNiY2UyM2Y1MWFmZWM0MDBhZGJmMTU0MTk1OTJjZjAwMDAwMDAxMTM3YzIwMmU5MmExNjljZTA5OTExZjZkQHJlcGx5LmdpdGh1Yi5jb20=)

On Jun 17 20

[2016-06-20 13:22] zchyde commented on #157
Ha! I have been concerned (maybe curious is the better word) about moving the images, I wasn't sure if the CMS would let me do that - I know when you do that in an ftp folder, obviously, that changes every image link you have existing. I'm also curious - what happens when we run out of space? How do we cull the images, if at all?

[2016-06-20 16:11] budparr commented on #157
Everything is text, so it's easy to move them. I just copied the images over (after cropping/compressing) to the uploads folder and then changed the path in the posts files.

So, in the CMS, it's a field for uploading an image, but behind that it's merely a text file, so I go through and changed:
```featured_image_path: /image_name.jpg```
to
```featured_image_path: /uploads/image_name.jpg```

I us

[2016-06-20 18:41] budparr opened #160 "Attempt to measure cart abandonment at Paypal"

[2016-06-20 19:17] shuchibooksmith opened #161 "homepage content??"
hello @budparr!
our homepage content seems to have...disappeared?
figured you're working on something, but not sure if you knew that had happened....

[2016-06-20 19:19] budparr commented on #161
No, but I'll look right away.

[2016-06-20 19:30] #161 closed

[2016-06-20 19:32] budparr commented on #161
Hi @shuchibooksmith - I fixed this. A setting for the page was erroneously removed while someone was editing it. I put it back, but most importantly, I removed the setting to a place where that can't happen again.

[2016-06-20 19:47] shuchibooksmith commented on #161
great! thank you!!!

On 6/20/2016 3:32 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-06-20 20:07] zchyde commented on #161
it was probably me, I updated the bestselling hardcovers/paperbacks this AM, SORRY EVERYBODY thought I'd just delete the whole dang thing for a giggle

[2016-06-20 20:08] budparr commented on #161
AHA! No worries though - I shouldn't have exposed something so critical to day-to-day use, so it's my bad actually.

[2016-06-20 20:08] shuchibooksmith commented on #161
i just hope @zchyde giggled.

[2016-06-20 20:09] zchyde commented on #161
Oh I did in fact giggle, thats undeniable

[2016-06-21 21:26] #160 closed

[2016-06-24 14:20] peterbooksmith opened #162 "SFE Blog Post"
The SFE Blog post from 6/3/16 that is pinned to the top location on the home page can be unpinned now.  Thanks.

[2016-06-24 20:47] shuchibooksmith opened #163 "Unpin Palahniuk blog post"
Hi @budparr!
Looks like after you unpinned the SFE post the Palahniuk blog post is now pinned. Can you unpin that one? We don't want any pinned blog posts at the moment.
Thanks!

[2016-06-24 21:31] #163 closed

[2016-06-24 21:32] budparr commented on #163
Hi @shuchibooksmith - It picks up any post that's marked "featured," so I unchecked that one and made sure there were none others. Have a great weekend!

[2016-06-28 01:56] #162 closed

[2016-06-28 20:06] shuchibooksmith opened #164 "Sharing Blog Posts on Social Media"
@budparr -
when we share a post on social media (namely, facebook), we don't have too many options as to which photo and text we can share. so the corresponding image is usually of the homepage banner and something else. any way to fix this?

[2016-06-28 20:07] shuchibooksmith commented on #164
![image](https://cloud.githubusercontent.com/assets/15218891/16430618/75e27158-3d4a-11e6-9238-c0cd965f0f34.png)

[2016-06-28 20:09] budparr commented on #164
It should be giving you the image from the post. I've been messing around with some of that stuff, so perhaps something is wrong. I'll have a look and get back to you.

[2016-06-28 20:27] budparr commented on #164
It has to do with the size of the images. I put a short-term fix in for now and a better one coming up in the next iteration of the site. I'll leave this open so I don't forget about it though.

[2016-06-28 20:39] zchyde commented on #164
Just curious - size like dimension or size like file size?

[2016-06-28 20:43] shuchibooksmith commented on #164
@budparr hmm, same thing is still happening...

[2016-06-28 20:54] budparr commented on #164
Facebook doesn't say which in their lintner. I've never wanted you all to have to put in a separate image for social, but  I can control this with something that I'm implementing here pretty soon.

Shuchi, it can take a bit of time, because FB caches web pages. Let me know if it persists.

[2016-06-28 20:55] shuchibooksmith commented on #164
okay, thanks!

[2016-06-28 22:03] shuchibooksmith commented on #164
@budparr i cleared cache and waited some and it still doesn't seem to be working...

[2016-06-28 22:43] budparr commented on #164
Okay. I'll go ahead and implement the fix right away.

[2016-06-28 22:44] budparr commented on #164
In the meantime, @shuchibooksmith tell me what post you're trying to add and I'll see if I can clear the Facebook cache manually.

[2016-06-28 22:48] shuchibooksmith commented on #164
sure! i'm trying to share the most recent blog post, this week in books
http://www.brooklinebooksmith.com/this-week-in-books/2016/06/27/this-week-in-books-book-record-shop-to-open-in-restored-funhouse/

[2016-06-28 22:56] budparr commented on #164
I fetched that with the Facebook tool and am getting the image from the page.

[2016-06-30 15:50] shuchibooksmith commented on #164
hey @budparr, sorry to pester. dana was just asking again if i was able to share blog posts on facebook, and the same problem happens (though this time, it's showing the banner home page and the text below is the homepage content, even when i share right from the post page). should i share another way?

[2016-06-30 15:58] budparr commented on #164
what is the post? This is what Facebook's official debugging tool shows me for the latest post:
<img width="949" alt="screen shot 2016-06-30 at 11 57 25 am" src="https://cloud.githubusercontent.com/assets/115347/16495087/e8794050-3eb9-11e6-9ece-11a52d9b581e.png">

[2016-06-30 16:02] shuchibooksmith commented on #164
ah-ha, yes, i was sharing through the share button at the bottom of the blog post page. copying and pasting the link gives me the right info. SORRY about that!!!! All good. :)

[2016-06-30 16:03] budparr commented on #164
Ah, okay. I'll have a look at that too though. I've been implementing a new sharing set up to optimize those images.

[2016-06-30 16:17] budparr commented on #164
@shuchibooksmith Just to clarify, you were sharing with the button on the bottom right of the page?

[2016-06-30 16:57] shuchibooksmith commented on #164
bottom left, next to the recommend button

[2016-06-30 17:00] budparr commented on #164
Interesting. Okay. So that's part of the DISQUS commenting system. Not sure if I have control over that, but I'll check. I don't "think" that's the primary avenue for sharing. I moved the follow buttons in the newest version (which I'll show you soon) to avoid confusion.

[2016-06-30 18:11] shuchibooksmith commented on #164
great! thank you!!!

[2016-06-30 18:18] shuchibooksmith opened #165 "New Top 25"
hey @budparr
remember this blog post we did a while back?
http://www.brooklinebooksmith.com/2016/01/01/top-25-books-of-2015/
We updated the list with the bestselling books so far. i want to do another post just like this, except i'll add a little bit of text beforehand. how did you do this one?

[2016-06-30 20:17] budparr commented on #165
If they're not in already, just add the books to the site as you'd normally do (the "Books" collection), and select them in the post with the "books" field, which I believe is bottom right.

And, if you see her, say hello to my friend Emily Barton who is reading there tonight!

[2016-07-01 14:11] zchyde opened #166 "Ghost Test`"
Bud I can't figure this out, Shuchi asked me to delete this test post, but there's no icon for it in the drafts - do you have any idea where it might be lurking ?

http://www.brooklinebooksmith.com/2016/01/15/aaaaaaaaaa-test/

[2016-07-01 14:12] zchyde commented on #166
this feels like one of those really obvious fixes that you tell me about and I go "oh duh"

[2016-07-01 15:42] budparr commented on #166
They were in the posts list. My bad for not deleting them earlier, but they're gone now.

[2016-07-01 17:12] budparr commented on #158
- [ ] note that the current month shows in "past selections"

[2016-07-01 18:18] budparr opened #167 "Discussion on next iteration of the site"
Hi @peterbooksmith
cc/ @shuchibooksmith, @zchyde

I'm opening this discussion for us to review progress on the next iteration of the site.

My goals with this iteration are:
- **Improve the layout of the menu**
  - Better accommodate many items (including the SFEBC).
  - I applied a constraint to myself on this item of not hiding items behind a drop-down menu. I believe that your audience is less

[2016-07-04 15:13] peterbooksmith commented on #167
Thanks Bud.  I've looked everything over and shared with Dana via email.  She and Shuchi will share and discuss with others here while I am away.  All of your explanations and reasoning make sense to me, and I like this menu layout.  We'll see what others think and hopefully we can come up with some productive ideas and feedback, keep this moving.

[2016-07-04 15:26] budparr commented on #167
Excellent, @peterbooksmith - have a great trip!

[2016-07-04 16:04] zchyde commented on #167
I think this looks really good for the blog post/individual pages but I'm so curious to see what the homepage would look like

[2016-07-05 15:21] budparr commented on #167
I'm curious too, @zchyde :). I'm working through some ideas now. When I get to something I'm reasonably confident with and can explain my thinking in writing, I post it here.

[2016-07-05 15:23] peterbooksmith commented on #167
Hello,

 I will on vacation from July 5-18.  Please contact the store at 617-566-6660 or thestore@brooklinebooksmith.com if you need assistance.

 Peter Win
Assistant Manager / Co-owner
Brookline Booksmith
279 Harvard Street
Brookline, MA 02446
617-566-6660

[2016-07-05 21:08] zchyde commented on #165
Hi Bud, Shuchi and I are trying this right now, and it doesn't appear to be working. I know how to add books to the site, but when I select them in the "books" field and publish the post, nothing happens, no books appear. Is this something we're doing wrong? I went looking for the post you made last time but I can't find it in the "posts" or "archive" folder

[2016-07-06 12:20] #165 closed

[2016-07-06 12:34] budparr commented on #165
I fixed this and you shouldn't have a problem now.

[2016-07-07 20:00] shuchibooksmith commented on #167
hi @budparr! sorry for the silence - dana and i are going to discuss tomorrow and i'll get back to in the afternoon/evening. thank you!!

[2016-07-08 20:28] shuchibooksmith commented on #167
Hi @budparr!
So we took a look at this, and I think the biggest question we all have is why the restraint of no drop down menu. You mention that you don't think our customers will use the drop down menu, and wondering why you think that? (if there's data specific to our customers?) We do agree that our current menu, with the "More" menu item being the only one that's a drop down, certainly doesn't

[2016-07-08 21:35] budparr commented on #167
Only 1.55% of your users clicked on the blog link in the drop-down menu now. The 'about-us' page is not better. Other bookstores hold no sway here as most of them are themes (i.e. pre-formatted stuff that no one used user-behavior metrics) to design.

[2016-07-08 21:41] budparr commented on #167
And, this is the best way I can think of to get the entirety of "signed first editions book club" in the visible menu.

I don't agree that this menu will make people miss things in the menu. I think the opposite is true, partly because one can click through the site with this no matter where they are.

[2016-07-08 21:47] shuchibooksmith commented on #167
Okay.
And maybe that will end up being true.But ultimately we really just don't like the look of a side nav.

[2016-07-08 21:47] budparr commented on #167
And, I might add, you're not losing the images that you like here. My goal is to make the page not depend on them, not get rid of them. I find there are many posts where the images really don't make sense. The design should accommodate the images, but not force you to use them.

[2016-07-08 21:48] budparr commented on #167
I presented a version a while back with a two-layer nav to solve the same problem, and you didn't like that either, so I'm at a bit of a loss where to go with it.

[2016-07-08 21:52] budparr commented on #167
Can you give me a sense of what about the side-nav you don't like?

[2016-07-08 22:33] shuchibooksmith commented on #167
I think with the side nav it's not something we really see on other sites, and it makes our site look...old? Like we've gone back to an older platform or something. It's just not very visually appealing. I'm not sure how really to describe it.
I'm going to share the two-layer nav. I really liked that, and I wasn't part of the discussion with the others, so I have no idea why they didn't. Let me se

[2016-07-08 22:43] budparr commented on #167
Okay. I understand that you might feel tied to the current layout, but keep in mind that what design has to do is to solve problems, and that's what we're trying to accomplish here. What's old, if I may, is a standard horizontal navigation (which doesn't make it bad). Newer sites tend to hide the menu altogether, but I don't feel that's appropriate for your audience (based on feedback, particularl

[2016-07-09 00:37] shuchibooksmith commented on #167
Okay. We'll digest everything. If you have examples of websites that use
the vertical side bar, that might be helpful for us to see.
Thanks!

On 7/8/2016 6:43 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-07-11 13:03] budparr commented on #167
@shuchibooksmith here's some of the research I mentioned earlier, if you care to read it (not required!). This is from one of the most well-known user experience research firms in the industry:
[Hamburger Menus and Hidden Navigation Hurt UX Metrics](https://www.nngroup.com/articles/hamburger-menus/)

Of course, nothing is absolute. This is just food for thought so you can see how we try to make th

[2016-07-11 14:21] budparr commented on #167
And, here are some examples of sites with side navigation. I wouldn't necessarily say any of these are applicable to you guys, though.
http://www.landvetterairporthotel.se/
http://www.buildinamsterdam.com/ (both side and top)
http://www.sabemente.de/restaurant
http://www.theliteraryreview.org/ (side and top)
http://ponder.online/ (right side)

So digest, and let me know. Like I said the side nav i

[2016-07-11 15:03] shuchibooksmith commented on #167
Hi @budparr!
I shared this info with the team, and everyone's agreed to go with the two tier menu that you originally showed us
https://cloud.githubusercontent.com/assets/15218891/15056126/26f166c6-12de-11e6-8f62-bb4c1d9c416e.png
The two-tier menu doesn't solve some problems (like what to do with "alerts" - harry potter party, ticketed events, etc.) but we figured finally coming down conclusive on

[2016-07-11 18:29] budparr commented on #167
Yes, that's no problem. Thanks for the feedback.

[2016-07-11 18:34] shuchibooksmith commented on #167
Great!! Thank you.
So I guess the next thing is figuring out how to add alerts?
They liked how the tabs floated over the photo on this website, but open to any suggestions you have...
![image](https://cloud.githubusercontent.com/assets/15218891/16742157/74ece588-4774-11e6-8b1e-1abd29a36d75.png)

[2016-07-11 18:35] budparr commented on #167
I don't imagine the people in those photos like having their faces covered up.

[2016-07-11 18:43] shuchibooksmith commented on #167
ha, no, probably not.

On 7/11/2016 2:35 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-07-12 20:12] shuchibooksmith opened #168 "Add libro.fm"
We just partnered with libro.fm to offer our customers audiobooks. We need a link to their store somewhere on the homepage - probably in the upper menu, next to shop online?
https://libro.fm/brooklinebooksmith
Also - how do you think it's best for us to handle this? Have a link to a page on our site just for audiobooks, and then from there link to libro.fm? Or link directly to libro.fm?
here's the

[2016-07-13 22:17] shuchibooksmith commented on #36
hi @budparr - just want to get this rolling again, when the menu/homepage stuff and libro.fm has been added, want to look at the UBC page and the things we want to add to it (like Find of the Week).
Thanks!

[2016-07-13 22:18] budparr commented on #36
okay

[2016-07-21 17:01] budparr commented on #167
Consistent with this discussion, and the design initiated in #153 I'm just putting a new menu structure up for you to consider. This doesn't have alerts or the [Libro.fm](https://github.com/sonnetmedia/brooklinebooksmith.com/issues/168) information, which I'll circle back around to once I have some more structural work done.
<img width="1440" alt="screen shot 2016-07-21 at 12 58 46 pm" src="https:

[2016-07-21 19:33] zchyde commented on #167
oooh I like this, this mirrors a lot of ecommerce sites I've seen and use

[2016-07-21 19:35] zchyde commented on #167
I think separating our more "about me" type links from our more content heavy links makes a lot of sense and is easy to navigate. Are you proposing we get rid of the search field altogether?

[2016-07-21 19:37] budparr commented on #167
No, but I do think that it's a bad idea to have a search on one site land on another. That can be disorienting for some, particularly older people and physically challenged people, and we try to be as inclusive as possible. So, I think it should go to a page with the search box, and we can also use that page to display some copy about the store, sell gift certificates, etc.

[2016-07-21 19:40] zchyde commented on #167
interesting, ok, because the transition from our website to the aba site could be confusing, people might think they're not still shopping with us because the websites look different.

[2016-07-21 19:40] budparr commented on #167
exactly

[2016-08-02 15:48] budparr commented on #167
Hello everyone. Apologies for being quiet this past week or two. I had some family issues that have made things topsy turvy for me, so most of the work I've been doing on the site has only been incremental technical refactoring stuff, and less design. I'm getting close to sending you an actual prototype of the new version, but I want to share with you one change that I've made.

One of my goals wi

[2016-08-02 15:54] shuchibooksmith commented on #167
I like it @budparr! I think it looks really clean.

[2016-08-02 15:55] budparr commented on #167
Glad to hear that, @shuchibooksmith  - I've also made some typography changes, but I think those will have to wait for the prototype to demo them, because I'm not sure they'll come through well in a screenshot.

[2016-08-02 17:45] peterbooksmith opened #169 "Remove Harry Potter from home page"
The Harry Potter/20% image and button can be removed from the homepage completely.  Thanks.

[2016-08-02 18:04] zchyde commented on #169
All set

[2016-08-02 18:04] #169 closed

[2016-08-10 14:38] budparr commented on #167
Posting some screenshots here to highlight some of the things I've been working on.

1) Color - I'm not married to this color, and I've been fooling around with it, but I'm trying to lighten things up a bit. Feedback welcome.

2) Typography - Note paragraph typeface is now serif. I think it's more readable and warm.

3) Layout. As mentioned earlier, I want images to look better, and have them cons

[2016-08-10 14:44] budparr commented on #167
Forgot to mention, on layout, note on the blog page, the idea is to get more posts on the page visible higher up and let the images make more visible interest, rather than the more linear flow from before.

[2016-08-10 14:54] peterbooksmith commented on #167
Hi Bud - I like where you're going with everything.  There is one new development for you, but hopefully this makes things easier.  We are not going to continue the Signed First Editions Club (SFE) into the Fall.  Despite everyone's efforts (yours included), it just has not brought the return we were looking for.   At some point, I will post on github about removing the existing SFE page and refer

[2016-08-10 14:57] budparr commented on #167
Okay, @peterbooksmith  - anything I can do to help on that end? Seems like such a good thing!

[2016-08-10 16:09] peterbooksmith commented on #167
Thanks @budparr - unfortunately, I don't think so.  Tim, and the rest of us have considered the options, and we just have so much else going on here, that based on the low response so far, we don't see it working for us and we're just moving on.  I don't think the online part or any of your work was a negative factor.

[2016-08-10 16:10] zchyde commented on #167
I love it, and I've actually been working on a redesign for the bookmark that is still very much in the early stages of the editing processes but we both kind of went in a similar branding direction, which is cool. If we end up using both these elements, we should coordinate which blue we use in the end, have them on both bookmarks and on website, and think about locking in a specific blue for the

[2016-08-10 16:11] budparr commented on #167
Okay. Well, I had hoped having it in the main menu would have helped give it day-to-day visibility.

[2016-08-10 16:12] budparr commented on #167
Yes!

[2016-08-10 16:18] peterbooksmith commented on #167
The idea if of a branding discussion gives me a massive headache...but it would be good to work toward that.  Finding one blue for the website and the bookmark could be an approachable starting point, so I will keep that in mind.  I don't think we'll have a final bookmark design for a few more weeks.

Back to SFE Bud, I am sure day-to-day visibility. would have been a positive.  We think the bigge

[2016-08-10 16:19] budparr commented on #167
Okay @peterbooksmith - didn't mean to belabor the point - just disappointed.

[2016-08-10 16:20] zchyde commented on #167
No I know I know. I'm cool, its cool. We'll just talk about some blues. It's very casual I swear.

[2016-08-10 16:21] zchyde commented on #167
![448](https://cloud.githubusercontent.com/assets/15219441/17561622/ee5ff094-5ef4-11e6-915a-33ac168387af.jpg)

[2016-08-10 16:30] peterbooksmith commented on #167
We were too @budparr - everyone put a lot into it.

[2016-08-10 18:16] shuchibooksmith commented on #167
I love how this looks too! I do want to get the audiobooks link somewhere on the menu. Maybe on the top menu bar, near search our online shop. I'll leave that up to you guys. It'd be great for it to link to a landing page within our website, and from there it can link out to libro.fm's bookstore. And we can work with libro on the design.
re: https://github.com/sonnetmedia/brooklinebooksmith.com/is

[2016-08-10 18:40] budparr commented on #168
Thanks for the [reminder](https://github.com/sonnetmedia/brooklinebooksmith.com/issues/167#issuecomment-238955074),  @shuchibooksmith. Should the link say "Libro.fm" or should it be more generic, like "Audiobooks," or even more generic, like "Partners?"

[2016-08-10 20:14] shuchibooksmith commented on #168
I think just audiobooks would be fine for now, unless Peter thinks
otherwise!

On 8/10/2016 2:40 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-08-10 21:18] peterbooksmith commented on #168
Audiobooks is perfect

[2016-08-22 17:58] budparr commented on #167
I've done the events for the most part. Nothing to show there, as the changes are mostly minor, making them more clean. I'm re-working color scheme now and will coordinate with you directly @zchyde and provide you with a full palette I think will you will find workable.

@peterbooksmith Should I go ahead and replace the SFEBC page with the audiobooks page, being that we're a good week-or-two away

[2016-08-22 18:10] peterbooksmith commented on #167
That should work @budparr .  Could you make audiobooks the last link in that row - all the the way to the right?  So...   Events   Blog   Giftsmith   Kidsmith   Used Book Cellar   Audiobooks

[2016-08-22 18:23] zchyde commented on #167
Awesome

[2016-08-23 14:52] budparr commented on #168
Hi @shuchibooksmith - Thinking about the best way to do this. We don't want them to create a page for us, because we want our page to be consistent and part of the main site. However, we do need some copy, and perhaps a featured image for the page. Can you either give me that, or ask them to generate it? We can take the boilerplate from the example page, if you like, so just let me know.

[2016-08-23 14:54] shuchibooksmith commented on #168
Thanks for your email. I will be out of the office until Friday, September 2nd. I'll get back to you shortly after I return.

[2016-08-23 14:55] budparr commented on #168
@peterbooksmith - I see that @shuchibooksmith is out. I'll take some boilerplate from the example page for now, and we can always adjust later.

[2016-08-23 20:59] peterbooksmith commented on #168
@budparr that's fine for now.  I am sure we can update it after Shuchi is back.  Thanks.

[2016-08-29 13:52] zchyde opened #170 "Kids Bestsellers?"
This might be a dumb question, but where did the Children's bestsellers carousel go?

[2016-08-29 13:54] peterbooksmith commented on #170
Hello,

 I will not be working on Monday, August 29.  Please know that while I will be in the store August 30-September 2, I will be working with new employees and may not be available right away.  I will reply to your email as soon as possible.  Thank you.

 Peter Win
Assistant Manager / Co-owner
Brookline Booksmith
279 Harvard Street
Brookline, MA 02446
617-566-6660

[2016-09-06 18:22] zchyde commented on #170
Hey Bud, any movement on this? It looks like the kids events arent showing up on the kidsmith page when I mark them as kids events either. Poor kids page!

[2016-09-06 18:25] budparr commented on #170
I'll have a look. Sorry - didn't mean to ignore - getting ready to send over the newer version and got caught up in that rewrite.

[2016-09-07 02:27] #170 closed

[2016-09-07 02:37] budparr commented on #170
Okay, this is set. Somehow the page lost its layout. I moved the layout field to the config file, so it won't happen again. Thanks for pointing it out!

[2016-09-08 12:50] budparr commented on #167
## Updated Design Notes

Alright, the long-awaited prototype. Thanks for being patient with me while I rewrote essentially the entire code-base for the site. It will now be more modular and faster to change to experiment, etc.

_Some of these notes repeat from earlier, but I thought worth mentioning again._

Housekeeping notes: I haven't updated the content to the latest, and there are a few image

[2016-09-13 21:03] peterbooksmith commented on #167
Hi @budparr.  Sorry I haven't commented yet.  In general, I like this and the changes make sense to me.  A few minor questions, thoughts, in order...

With the Harry Potter graphic/campaign spot - what if we don't have a relevant campaign/  Maybe that's for us to figure out, I guess a recent/relevant blog post could always occupy that space for a little while/  One would think we would always have

[2016-09-13 21:11] budparr commented on #167
Thanks, @peterbooksmith  - so most of the things you're talking about are content-driven. So, for instance, if you don't have a campaign right now, that row goes away and the blog posts move up to fill the space. The storefront photo can be changed at any time. The Kidsmith book covers, which I agree, fewer is better, is just a function of how many you put in.

So, yeah, gather everyone's thoughts

[2016-09-13 21:25] peterbooksmith commented on #167
Got it.  I will work on showing this to the various parties tomorrow, maybe Thursday.

[2016-09-14 16:37] peterbooksmith commented on #167
@budparr I just went over this with Dana and Lisa.  Three things they feel strongly about -

1. on the home page, could we get rid of the white "brookline booksmith" going across the banner image?  On that page, with it in that location, and at the top right in blue, and with booksmith in the actual photo, it seems a bit much.  Also, we think the white lettering makes that banner image look darker

[2016-09-19 14:52] budparr commented on #167
Hi @peterbooksmith 1) is an easy fix. 2) I should have for you by tomorrow morning (it's an easy thing, but I'll likely need to fiddle with the colors a bit.

re: the darkness of the images. We can fiddle with that too, but the copy on top of the images is most important to your readers who really just want to know where they are on the site.

[2016-09-20 14:48] budparr commented on #167
@peterbooksmith that color ended up looking a bit purplish on the web. I'm going to experiment with some other colors and show you what I come up with.

[2016-09-20 14:57] peterbooksmith commented on #167
@budparr - I can see how that might happen.  We are looking for is something is both bright but closer to a solid, royal blue but definitely not purple. Maybe something in between your choice and PMS 286.

[2016-09-22 16:07] budparr commented on #167
Hi @peterbooksmith  - I'm using a color here that is about midway between the two. The color is very strong so I did a lot of fooling around with it so that it wouldn't overpower the page, so I pulled-back on it a bit (it's still strong, but I think this works). Let me know what you all think. I really want to keep it as clean as possible. I'd love to replace that image on the home page with somet

[2016-09-23 13:17] budparr commented on #167
By the way @peterbooksmith I don't mean to dictate the color. If that color you mentioned, or some other color is what you want for you brand color, then it's up to me to figure out how to make it look good on the site. Just want to be clear about that, as I see it looks like I was saying otherwise, because I wasn't allowing that you might have decided on a color outside of the website context.

[2016-09-24 22:30] peterbooksmith commented on #167
@budparr this blue looks better, both Dana and Lisa like it, so let's go with that.  We also understand what you mean about the busy-ness of that banner photo.  We're going to look at some of the others we took or have and see if there is something else we could use.  Otherwise, we can continue to proceed.

[2016-09-26 15:58] budparr commented on #167
@peterbooksmith - Awesome. I'll update the content to the latest and get this version live. I'll make the transition at a low-traffic time to make sure that it's smooth for users.

[2016-09-29 13:08] shuchibooksmith commented on #168
Hi, Bud!
The website looks great. I'll go through it more thoroughly in a little bit, but I noticed this and it has to be fixed ASAP.
Our Audiobooks page contains all of the content from Papercuts JP - that's another local bookstore in the area!! So all of that needs to be removed. I'll work on getting other content up there, but please remove everything under **Brookline Booksmith Handpicked Play

[2016-09-29 13:13] budparr commented on #168
All set, @shuchibooksmith

[2016-09-29 13:14] shuchibooksmith commented on #168
Thank you!!!
More soon. I do love how the blog posts look on the homepage.

[2016-09-29 14:29] budparr opened #171 "Make it easier to input weekly bestsellers"
FYI, @peterbooksmith - I'm working on this, but want to make this a bit easier. Now editors have to put in ISBN's and I'm making it so they just start typing the title and it auto completes.

[2016-09-30 18:43] budparr opened #172 "Fix mobile side-nav menu colors"

[2016-09-30 20:05] peterbooksmith opened #173 "Fixes to new interation"
@budparr @zchyde - here is a list of (mostly small) things we see that need fixing.  @shuchibooksmith compiled most of this and I added a couple of notes. (indicated by **)

- [x]  homepage - list all weekly bestsellers (7 hcs, 6 pbks) - ** It looks to me like 6 images across the page is what fits best.  Maybe that be changed, maybe not.  I think it would be fine if we just did 6 HC and 6 PB bests

[2016-09-30 21:58] #167 closed

[2016-09-30 21:58] budparr commented on #168
I'm going to close this for now, @shuchibooksmith - feel free to open a new issue if you have more changes.

[2016-09-30 21:59] #113 closed

[2016-09-30 21:59] #117 closed

[2016-09-30 21:59] #126 closed

[2016-09-30 21:59] #147 closed

[2016-09-30 21:59] #149 closed

[2016-09-30 21:59] #151 closed

[2016-09-30 21:59] #152 closed

[2016-09-30 21:59] #153 closed

[2016-09-30 21:59] #158 closed

[2016-09-30 22:00] #166 closed

[2016-09-30 22:02] budparr commented on #173
Thank you, @peterbooksmith and @shuchibooksmith - I should be able to knock these out pretty quickly.

[2016-10-03 16:21] #172 closed

[2016-10-03 18:10] shuchibooksmith opened #174 "Fix times on *all* events"
All of the events are currently coming up as a 5:41pm start time. It was fine this morning, so I think there's some glitch...

[2016-10-03 18:11] shuchibooksmith commented on #174
Make that the date AND time...All coming up as Monday, October 3rd at 5:41pm...

[2016-10-03 18:12] budparr commented on #174
Sorry, I've been working on some stuff, and didn't realized that where I changed it effected those. BRB

[2016-10-03 18:18] shuchibooksmith commented on #174
Thanks @budparr !

[2016-10-03 18:18] budparr commented on #174
should be fixed now.

[2016-10-03 18:18] #174 closed

[2016-10-03 18:36] budparr opened #175 "Fix Blog Featured Images"
Some images don't seem to be recognized by the CDN.

Mentioned in #173

[2016-10-03 18:37] budparr commented on #173
@shuchibooksmith @peterbooksmith These are fixed, with the exception of one, about the blog images, which I've opened a separate issue for. Thanks!

[2016-10-03 18:37] #173 closed

[2016-10-04 17:14] budparr commented on #175
Fixed these. Note, @zchyde that the images that weren't showing were because they had non-web-friendly names, like having parenthesis or spaces, in them.

[2016-10-04 17:14] #175 closed

[2016-10-04 17:35] shuchibooksmith opened #176 "Fix Images in Gwen's Blog Post"
I just posted a blog post for Gwen and the images are coming up funny. I'm not sure if you have some guidelines @budparr  or @zchyde on how I should handle image heavy posts?

[2016-10-04 17:39] budparr commented on #176
In the editor, type a `---` in between sections with the images/copy. I have the images set to float to the left of the copy, so it can be a bit weird without that.

[2016-10-04 17:41] shuchibooksmith commented on #176
perfect, will do, thanks!

[2016-10-04 17:41] #176 closed

[2016-10-04 18:09] zchyde commented on #176
Also, in general, I need a longer turnaround for Gwens posts. Her posts are really image heavy and she uploads them in absolutely enormous sizes, it takes me a while to gather, resize and compress them.

[2016-10-04 18:10] zchyde commented on #175
Ok, noted

[2016-10-04 18:11] zchyde commented on #176
These are things I can do after the blog is uploaded but it will occasionally change the layout slightly, I guess turnaround isn't the right word since I can change the images after the post is published, but just know that her posts specifically go through a longer process then the rest of them.

[2016-10-04 18:15] shuchibooksmith commented on #176
@zchyde good to know, thanks!

[2016-10-04 18:50] shuchibooksmith commented on #168
I'm putting together content for the audiobooks landing page. I'm going to have libro create customized playlist for us (which will look like "Papercuts Handpicked Lists" - http://www.papercutsjp.com/audiobooks/) and one of the booksellers wrote a blog post about audiobooks. I'll publish that on the homepage, but is there any way to feature a blog post on the audiobooks page too? This actually add

[2016-10-04 18:51] shuchibooksmith commented on #168
also, @budparr, the text on the banner image should say Audiobooks (all one word) instead of two separate words, same for what comes up on the tab next to the favicon.

[2016-10-04 18:55] budparr commented on #168
I fixed the copy in the banner. I'll revisit your earlier posts on the Used Book Cellar and write back about that.

[2016-10-05 14:18] budparr commented on #168
Hi @shuchibooksmith - carrying on our conversation from email here.

Which playlists? There's a lot there.

So, I think that if we create a way to add "playlists" with books (in this case audiobooks) to the site, that functionality, which is similar to adding weekly bestsellers to the site, would cover us for posts, the audiobooks page and the Used Book Cellar. Make sense?

[2016-10-05 15:42] shuchibooksmith commented on #168
No, not the playlists they already have listed. I just wanted to show you what their playlists look like. You click on it, it has the whole customized list, and people can purchase directly through there. I do want them to do that, because (I believe?) they should be able to access those playlists through the libro.fm app when they want to purchase.
The lists I have are sort of long - like 12 or s

[2016-10-05 16:18] budparr commented on #168
Okay. So, how does the process work for people who subscribe through you?

The weekly bestsellers thing (sorry to confuse) is just a mechanism by which you can input books to the site and then reference them in another part of the site. We currently have that functionality for bestsellers, and I'm working on improving the workflow on that, and, what I think makes sense to do is to create one fluid

[2016-10-05 16:35] shuchibooksmith commented on #168
People who visit our audibooks page get redirected to their site, but with us as the reference point, so we get the credit. I think if they follow our playlists, they can open it up on their libro.fm app and we'll always get the credit when they purchase the next audiobook.

So basically, we'd want something very similar (I'd think) to what [Papercuts](http://www.papercutsjp.com/audiobooks/) did o

[2016-10-05 16:36] shuchibooksmith opened #177 "Add Rare Books on UBC Page"
The thing is with the UBC page is that we'd be featuring rare books on there (to start), and only one copy of that book too. There's actually no e-commerce element to it, because they won't be able to purchase those books online. Each listing would have a photo we've taken of the book, a description we've written, and whether it's available or not, and then customers would call the store to ask ab

[2016-10-05 16:38] shuchibooksmith commented on #36
@budparr, in theory, however we decide to feature Rare Books would be the same way we'd feature Find of the Week (and both would exist as thumbnails or something like that on the UBC homepage)

[2016-10-05 16:57] budparr commented on #168
What is your Libro.fm ID? For Papercuts, it's "papercutsjp" so it would be something like that.

[2016-10-05 17:34] shuchibooksmith commented on #168
its just - https://libro.fm/brooklinebooksmith

On 10/5/2016 12:57 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-10-05 17:57] budparr commented on #168
This seems consistent with my thinking on using one set of books and referencing them. We'd just need to add a field to tick off if a book is available. Can do the same with Audiobooks too. I think, just adding a field for the Libro page.
@peterbooksmith just checking if you have anything thoughts on this conversation, as what I'm trying to do is to think systematically, rather than just for one p

[2016-10-05 18:12] shuchibooksmith commented on #168
Ah okay! Great. The UBC page is pretty text heavy, so we'd want
something like this above the text. Would that be possible?

On 10/5/2016 1:57 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-10-06 17:42] shuchibooksmith commented on #168
just checking in on this @peterbooksmith. i don't want us to get stalled
on getting the audiobooks page together...

On 10/5/2016 1:57 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-10-06 18:10] budparr commented on #168
On any given page I could put the books in various places. Just lay out the specs or data points for each, so, add or change any of the below:

**Weekly Bestsellers**
Covers only
Link to shop
- placement below copy

**Audiobooks**
Covers
Copy
Link to libra.fm (probably need to supply specific link with each page)
- placement below copy

UBC
Covers
copy
available/not available
- placement above cop

[2016-10-06 18:19] peterbooksmith commented on #168
Makes sense to me!

[2016-10-06 18:24] shuchibooksmith commented on #168
Yes! That looks good. Thanks!

On 10/6/2016 2:10 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-10-08 13:26] budparr commented on #168
Hi @shuchibooksmith I should have this set for you by Monday, at which point I'll have you make some book selections then (and I'll give you instructions on how to do so).

[2016-10-09 15:31] shuchibooksmith opened #178 "Add Find of the Week to the UBC page"
Just adding this back in here, for after we finish the libro.fm page.
keeping https://github.com/sonnetmedia/brooklinebooksmith.com/issues/36 for reference.

[2016-10-09 15:35] shuchibooksmith commented on #178
reference https://github.com/sonnetmedia/brooklinebooksmith.com/issues/36

[2016-10-10 20:22] budparr commented on #168
@shuchibooksmith Could you add books you'd like to feature on the Audiobooks page in the "books" section. Please add any copy you'd like, and the link to the libro.fm page (there's a field for it, called "Link to Buy Page"), and otherwise they're the same as any other book.

Once you have them in, go to the section "Landing Pages" and select the "Audiobooks" page, where you'll find a field "Relate

[2016-10-11 13:36] zchyde commented on #168
Shuchi I can take care of this for you, just let me know what books we're featuring. Should you want to add any of this yourself, there is a "how to add books to inventory" document in my google drive how-to folder

[2016-10-11 14:44] budparr commented on #168
Hey, @zchyde can you send me that document too? I was thinking about posting that sort of thing on the site on the login page, or somewhere easily accessible. Good idea?

[2016-10-11 15:13] shuchibooksmith commented on #168
Sounds good @zchyde, thank you. Going to be on the floor for most of the
day I think...

On 10/11/2016 10:44 AM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-10-11 15:26] zchyde commented on #168
@budparr sure, here's the link:

[Promo Folder](https://drive.google.com/drive/folders/0B7mxPFitX44kVGJSZGhrSWlyd2c?usp=sharing)

I think there may be one or two empty files there, when I found out I was going to keep working remotely I lost steam creating the document, but most of the documents should have instructions.

[2016-10-11 15:34] zchyde commented on #168
@shuchibooksmith ok, when you can send me a list, I'll take care of the rest

[2016-10-11 18:43] peterbooksmith opened #179 "Swap "Upcoming Events" & "Latest from the Blog" on homepage"
@budparr as we discussed offline, we definitely want to swap the placement and appearance of "Upcoming Events" & "Latest from the Blog" on homepage.  I realize this will take some reformatting and/or reconfiguring.  Looking forward to seeing what you come up with.

[2016-10-11 18:55] budparr commented on #179
Thanks for initiating the issue, @peterbooksmith  - and, to reiterate some specs:

- [ ] Blog posts listed as the events are now
- [ ] Events in larger space, but may look different than posts do now.
- [ ] Images to use.
  - book covers, likely.
  - required to show entire cover (not stylized)
  - What to do with multiple covers
  - author photos a possibility

[2016-10-11 19:08] peterbooksmith commented on #179
Yes.  With some more thought and talk, I do think book covers, not author photos, and I also think showing the entire cover (not stylized).  I think having multiple stylized covers in this area for this purpose might look strange, and I know that events people, authors and publicists prob want to see entire covers.

[2016-10-11 21:03] shuchibooksmith commented on #168
hello!
i'll be sending the lists to zoe shortly. @budparr, there's a blog post in the blog folder that i'd like to go up on the libro.fm page. is that possible?

[2016-10-11 21:15] shuchibooksmith commented on #179
just wanted to chime in real quick. i understand not having the book covers be stylized for the homepage. but when we open up to the individual event's page, it might be nice to have a banner image that's maybe a close up of the cover? a little more stylized? this is what author's share, and what we often link to, and if we're featuring events more prominently, it might be good to have these pages

[2016-10-12 16:23] zchyde commented on #168
I was working on inputting these titles and something has gone wrong? Now when I add a title it takes me to this page with this funky right hand side menu
![image](https://cloud.githubusercontent.com/assets/15219441/19318446/bdc2f270-9076-11e6-8137-40ff2b2f2d5d.png)

[2016-10-12 16:24] zchyde commented on #168
...please ignore my craigslist furniture tabs thx

[2016-10-12 17:08] budparr commented on #168
@zchyde that's the "toggle pages" tab. Just click on the icon that looks like a gear.

[2016-10-12 17:08] budparr commented on #168
@shuchibooksmith no problem. What's the title of the post?

[2016-10-12 17:19] shuchibooksmith commented on #168
@budparr 'Audio Books' - it's in the drafts folder.
thanks!

[2016-10-12 19:44] budparr commented on #168
@shuchibooksmith the  post is now in the posts folder, but it's not published. Just go to the post and click the "published" box, and save. It will then show up in a list on the sidebar of the Audiobooks page.

[2016-10-12 20:09] shuchibooksmith commented on #168
Hi @budparr!
I just published it. I'm a little nervous that it's going to get lost where it is on the side. I wouldn't think to click on it if I didn't know it was a blog post. I know we're working on shifting the homepage out a little, but is there a way to add a visual component (I'm going to add a banner image to that blog post right now),

[2016-10-13 14:25] zchyde commented on #168
Okie dokie smokey I have added all the titles to the "books" collection, just to confirm before I actually do it, we now want all these titles to be added to the "audiobooks" section, is that correct?

[2016-10-13 15:11] budparr commented on #168
I'll put them up, and once you've seen a prototype you can decide how many you want. My goal in having you put them in first was to get a sense of how much copy you might have with them, so that's helpful.

Note that, looking at an example, "Gentleman in Moscow" that you have the book, and separately, the audiobook. What I need to know is just how different the two might be. That is, structurally,

[2016-10-13 16:04] shuchibooksmith commented on #168
@budparr - thoughts on making the blog post appear on the libro page with an image maybE?

[2016-10-13 16:09] zchyde commented on #168
@budparr well I can tell you this is an issue that we come up against in our weekly bestsellers, when occasionally we will have a book on the bestseller list in hardcover and then again in paperback, or excluslvely in paperback, or something along those lines. In that event I have to enter more than one isbn for the same title, I will just enter it again with the words (HC) or (PB) behind it. So I

[2016-10-13 16:10] budparr commented on #168
@shuchibooksmith Haven't forgotten. Working on it.

[2016-10-13 16:10] budparr commented on #168
@zchyde do you use different covers (for HC/PB/Audio)? I mean, I know they will have different covers, but do you use different covers, if that makes sense.

[2016-10-13 16:15] zchyde commented on #168
With the audio I didn't because I didn't feel like searching for the bespoke audio covers, because searching by isbn turned out to not yield great results. Only a few of them have the audio covers (if the audio was easy to find and/or was way cooler than the other artwork. Its really probably 2-3 titles.) and in the terms of hardcover I usually do, I would be fine with not doing that, people seem

[2016-10-13 16:18] budparr commented on #168
Okay. I don't want to complicate things. We'll leave it as is for the moment, but I should improve that, which I can do after the home page (cc @peterbooksmith on that).

[2016-10-14 18:22] budparr commented on #168
@shuchibooksmith you'll now find a more prominently formatted blog post on the Audiobooks page. I'm working on this in a systematic way so that you can add blog posts to any page, but this represents the bulk of that work.

[2016-10-14 20:02] shuchibooksmith commented on #168
@budparr this looks great. thank you!!!

[2016-10-17 20:09] budparr commented on #168
Hi @shuchibooksmith for the audiobooks showing on the page. Do you want to show the copy? I see
A Gentleman in Moscow (AUDIO) has copy, but the others do not? Probably best to go one way or the other, of course.

[2016-10-17 21:15] shuchibooksmith commented on #168
@budparr where's the copy? i guess it all depends on how it ends up looking on the page?

[2016-10-17 21:17] shuchibooksmith commented on #168
@zchyde has been importing these. since the lists are long, it's probably best to skip copy, though in general a little bit of copy is always preferable.

[2016-10-17 21:17] budparr commented on #168
It's quite a bit. I "think" (it's up to you, of course) that it shouldn't be more than a couple, three lines:
[link](https://app.cloudcannon.com/client_editor/17467/site#/site/17467/collections/_books/a-gentleman-in-moscow-audio.md)

[2016-10-17 21:18] budparr commented on #168
The books selected for the audibooks page don't have copy.

[2016-10-17 21:22] shuchibooksmith commented on #168
Okay. I think we should skip copy then. Thanks!

[2016-10-17 21:35] budparr commented on #168
Okay. We can always iterate on it (add it later). Seems to me that we might want a little bit of copy, but of course, I don't want to make things hard for you.

[2016-10-18 01:16] zchyde commented on #168
uhh that isn't right, I definitely copy and pasted copy from the libro.fm website for almost all of them, so something went wrong there

[2016-10-18 01:19] budparr commented on #168
check the books selected in the audiobooks landing page. It might be that you entered the books, but didn't select those.

[2016-10-18 01:21] zchyde commented on #168
Ooh ok I assumed the books selected would be the same as the list Shuchi had sent me. Yeah I don't always input copy bc I'm a lazy monster. But I can, if we change our mind and want to show copy.

[2016-10-18 11:10] shuchibooksmith commented on #168
@budparr not in until later today, can you make these changes? So sorry for the mistakes.

Hi Dana,

My name is Nick and I am the Creative Director at Libro.fm. I just read Amy's blog post about audiobooks (https://www.brooklinebooksmith.com/audiobooks/2016/10/12/an-introduction-to-audiobooks/) and it's awesome but I noticed a few things that need to be fixed:
The "Audiobooks Page" link is not wor

[2016-10-18 12:54] budparr commented on #168
Sure thing. I'll be at the office in just a bit and take care of it the

[2016-10-18 16:34] budparr commented on #168
@shuchibooksmith @zchyde just checking on how we're coming with the books. The books associated with the audiobooks page (except for one, which I put in), don't have links to libro.fm. I do think they could use a bit of copy, too, but understand if you can't do that now.

[2016-10-18 16:48] shuchibooksmith commented on #168
I gave Zoe the list and assumed she was handling? But all the books
should have the link to libro.fm's  page.
I'm going to have limited access to the computer (spilled something on
mine so richard needs to take a look). But if ou need me to do something
zoe, let me know,

On 10/18/2016 12:34 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Ma

[2016-10-18 16:51] budparr commented on #168
It's probably just the relationship isn't created. @zchyde - under landing pages, there's an audiobooks page, and on that page, there's a field "Related Books" and you can select them there.

[2016-10-18 17:01] zchyde commented on #168
So all the books on the list @shuchibooksmith gave me have libro.fm links, although now I know they're supposed to be on a special booksmith page, that will have to be changed.

So I'm confused, I thought Bud you were going to add the books to the Audiobooks page. I can do it I'm just very confused now. What am I supposed to be adding to what?

[2016-10-18 17:02] zchyde commented on #168
Are these true:

 The list of audiobooks shuchi gave me has to be added to the audiobooks "related books" field.

The book listings have to have libro.fm BOOKSMITH links added to them/edited on them if link already exists.

[2016-10-18 17:02] budparr commented on #168
Always best if you all handle content and I handle development. The books are added through a field, and I'm developing the page to show what you add.

[2016-10-18 17:03] zchyde commented on #168
All i have done is input titles into the books collection. So now I'm adding these titles to landing pages>audiobooks>related titles, is that right?

[2016-10-18 17:03] budparr commented on #168
Yes to both. All books go to the shop page, unless they have a specific link elsewhere.

[2016-10-18 17:03] budparr commented on #168
Yes.

[2016-10-18 17:04] zchyde commented on #168
Ok, I'll get on it, thanks

[2016-10-18 18:12] zchyde commented on #168
@budparr What have I done that is making this happen?
![image](https://cloud.githubusercontent.com/assets/15219441/19490343/ca2a7162-953c-11e6-827b-fad7f12db572.png)

[2016-10-18 18:20] budparr commented on #168
It's not you. We're looking into it. I will update you in a bit

On Oct 18, 2016 2:12 PM, "Zoe" <notifications@github.com> wrote:

[2016-10-18 19:56] budparr commented on #168
Hey, @zchyde you're not still seeing the issue, are you? I don't think you should be now.

[2016-10-18 20:41] zchyde commented on #168
Looks good, thank you @budparr !

[2016-10-18 20:59] zchyde commented on #168
ok, I've put the list of titles into the audio books related titles field, and I've updated each title to link to the Booksmith libro.fm page, as opposed to the general fm page. If anyone finds any discrepancies, let me know

[2016-10-19 17:15] budparr commented on #168
Hey, @shuchibooksmith You'll see that I added the books up there. It's pretty straightforward at this point. I felt like there was a lot of copy on each book. Do you want that? I wonder if just like one quote or something (1-2 sentences) might be better for that number of books. No problem if you want it all, it will just make for a long content-heavy page and partly (possibly) duplicative of what

[2016-10-20 16:19] zchyde opened #180 "Todays event"
@budparr Bud I can't get todays event to show up on the website, am I doing something wrong?

[2016-10-20 16:39] budparr commented on #180
I'll look

[2016-10-20 16:40] budparr commented on #180
what's the name of the event?

[2016-10-20 16:42] zchyde commented on #180
Elissa Altman - Tref

[2016-10-20 17:13] budparr commented on #180
Okay. I found the issue. I recently changed some of the events code and need to fine tune something. Shouldn't be more than a few minutes.

[2016-10-20 17:19] #180 closed

[2016-10-20 17:20] zchyde commented on #180
Thank you!

[2016-10-20 17:20] budparr commented on #180
okay. should be set in a minute. pardon my idiocy

[2016-10-20 17:22] zchyde commented on #180
Every time its a code problem it means its not me just, like, not having checked "publish" or something. Thanks for the quick fix!

[2016-10-20 17:29] budparr commented on #180
It's always nice when it's not your fault :)

[2016-10-28 21:03] budparr commented on #179
@peterbooksmith FYI, I'll likely release this for your review on Monday. I've been going through a lot of iterations to streamline the look of events for the home page and haven't come up with anything radically different than the way we're displaying them now. It's otherwise set. Have a great weekend!

[2016-10-28 21:10] peterbooksmith commented on #179
Sound good Bud, looking forward to seeing it.  Have a great weekend as well.

[2016-10-31 13:59] budparr opened #181 "Question about timing of events display"
Hi @peterbooksmith , and @zchyde  (not copying Shuchi because I think she's still on vacation).

I've been fine tuning events a bit and have it set currently so that if an event scheduled for 7:00pm, it will not show at 7:01 (that is, of course, if the site is built at that time, which it's not usually, so in most cases the event would still be there for a while). I've set the site to build automa

[2016-10-31 14:05] peterbooksmith commented on #181
@budparr  - I think having an event up for 1-2 hours after is starts is fine.  Almost all of our events run for an hour.  It for any reason it is easier to make it more time than that, that's ok too.  Yes, Shuchi is away until next Monday (11/7).  Thanks!

[2016-10-31 14:05] budparr commented on #181
Thanks!

[2016-10-31 17:01] budparr commented on #179
Hi @peterbooksmith,
My first thought on this was to format the events in a more compact way than they are in the events page. I've tried several iterations, but haven't yet come up with something that does as good of a job of displaying the events clearly. I haven't counted it out, but rather than delaying getting a more fundamental change done (switching the prominence of events over blog posts),

[2016-10-31 17:11] peterbooksmith commented on #179
I understand.  You've probably this, but what about just having the cover image with the author's name, book title, date and time?  For example - Monday, Oct 31 - 7:00 PM  Teju Cole - Known and Strange Things: Essays

I only mention b/c one thing we definitely like about the current iteration is that everything on the home page is closer to the top, so less room to scroll down.  Does that make sen

[2016-10-31 18:11] #181 closed

[2016-10-31 18:12] budparr commented on #179
Totally. I didn't think that option would be on the table. I'll work something up.

[2016-11-01 14:12] budparr opened #182 "Improve Storytime graphics"
Hey, @zchyde. Any chance we can get a better/bigger graphic for the book clubs and story time? These are the only ones I see.

http://images.brooklinebooksmith.com/kids_storytime_web.jpg
![](http://images.brooklinebooksmith.com/kids_storytime_web.jpg)

http://images.brooklinebooksmith.com/breakwater.jpg
![](http://images.brooklinebooksmith.com/breakwater.jpg)

http://images.brooklinebooksmith.com/

[2016-11-01 14:18] zchyde commented on #182
We can, I probably won't be able to get them done until tomorrow at the earliest. These icons don't exist in a larger format so I'll have to make new ones, which is fine, will just take more time then I have today.

[2016-11-01 14:19] budparr commented on #182
No rush!

Make them at least 350px wide, and I think the square aspect ratio is fine.

[2016-11-01 14:19] budparr commented on #182
And thank you!

[2016-11-01 14:21] zchyde commented on #182
ok cool, will do!

[2016-11-01 21:41] budparr commented on #179
So this iteration removes the primary copy. I didn't put a link to read more, trying to be less cluttered, but probably could use that. http://2016-11-01-v2-bbs-homepage.surge.sh/

[2016-11-01 22:00] peterbooksmith commented on #179
I like it.  If people really push for a "read more" link, I will explain the less cluttered approach, as I def support that.

[2016-11-03 15:57] zchyde commented on #182
What do you think of these? I don't want them to be too busy, that's often my downfall
![artboard 1 copy 2bsmithicons](https://cloud.githubusercontent.com/assets/15219441/19973791/a3f53e96-a1bc-11e6-8280-f6541f23315f.png)
![artboard 1 copy 3bsmithicons](https://cloud.githubusercontent.com/assets/15219441/19973793/a400752c-a1bc-11e6-96f1-e478aca55d25.png)
![artboard 1bsmithicons](https://cloud.gith

[2016-11-03 16:17] budparr commented on #182
I like them. Do you think the copy should be centered?

[2016-11-03 16:30] peterbooksmith commented on #182
I'll leave the visuals up to the two of you, but I think the Between the Lines one prob needs to be centered.  The Breakwater one kind of looks ok the way it is, but if all others are centered, than maybe just for consistency sake.

[2016-11-03 17:13] zchyde commented on #182
I'm not opposed, I can center them, hold on one second

[2016-11-03 17:17] zchyde commented on #182
![artboard 1 copy 2bsmithicons](https://cloud.githubusercontent.com/assets/15219441/19976876/d526fb2a-a1c7-11e6-8eb6-b9ebff483ac2.png)
![artboard 1 copy 3bsmithicons](https://cloud.githubusercontent.com/assets/15219441/19976877/d529ae24-a1c7-11e6-925e-f97ffef40a90.png)
![artboard 1bsmithicons](https://cloud.githubusercontent.com/assets/15219441/19976874/d524357a-a1c7-11e6-88d7-039250a916a5.png)
![

[2016-11-03 17:32] peterbooksmith commented on #182
yes - and thanks, these look good

[2016-11-03 18:04] budparr commented on #182
@zchyde Can you send me a zip file with hi-res versions, please?

[2016-11-04 13:33] #179 closed

[2016-11-04 13:40] budparr commented on #182
I'm going to close this. I've added these to the site (in the "programs" collection). @zchyde whenever you get a chance, perhaps you can take make them into jpegs and run them through the compressor (hopefully they won't lose color) and swap them out, so they're nice little files. I love PNG format because it retains colors nicely, but the file sizes tend to be rather large.

[2016-11-04 13:40] #182 closed

[2016-11-04 14:10] budparr commented on #179
Hey @peterbooksmith Was just thinking that maybe we color code the events. We'd put a key at the top, but we'd have a color for kids, book clubs, regular readings, paid events, whatever. What do you think? Might give readers an easy 'at a glance' at the events that interest them. If you like the idea, I'll open a separate issue for it.

[2016-11-04 14:31] zchyde commented on #182
I can totally do that, its not wrong in the programs section but it looks like "between the lines" is showing up on the book club events on the homepage and on the events page?

[2016-11-04 14:40] budparr commented on #182
Fixed. Thanks for the catch.

[2016-11-04 21:15] peterbooksmith commented on #179
@budparr things are looking good.  That's an interesting idea about the color coding, guess we should see what i would look like.  One thought is that too many different colors might be too much, but what do you think about that?

Separate thing, and I can open a new issue for this, but could we also have a heading above the events that says "Upcoming Events"?  The same size and style text as the

[2016-11-07 17:37] zchyde commented on #182
We've got another small glitch - images come up correctly on homepage but 11/14's book club has "between the lines" graphic on events page

[2016-11-07 17:47] budparr commented on #182
I'll check it out.

[2016-11-07 18:01] budparr commented on #182
Fixed now.

[2016-11-07 18:02] budparr commented on #182
@zchyde How would you feel about creating some variations on those images? Maybe a large one for the event's landing page (so same size as any banner graphic), and maybe a smaller one for the home page (i.e. not as tall, the width is fine). Thoughts?

[2016-11-07 19:13] zchyde commented on #182
Yes I can definitely do that, will have those done today

[2016-11-15 14:20] budparr opened #184 "Create individual pages for Programs"
Purpose is to show the recent past books discussed/read.

cc/ @peterbooksmith

[2016-11-21 18:35] budparr commented on #177
Hi @shuchibooksmith - I understand you're back. Returning to the UBC page, just want to make sure we have it specified correctly. Listing rare book offerings is completely separate from Issue #178 (which we should just close in favor of #36 ) correct?

This listing, as I understand it from your note, Is a listing of books with:
1) Title
2) Availability (is this a date, or yes/no, or a count?),
2)

[2016-11-21 18:38] budparr commented on #168
Hi @shuchibooksmith now that you're back, you are free to close this issue, unless you want to further the work on the book listing or anything else. Thanks!

[2016-11-21 20:45] #168 closed

[2016-11-21 20:46] shuchibooksmith commented on #177
Hi, Bud!
Yes, I'm back!
And you're right - Rare Books and Find of the Week are completely separate.

"Find of the Week" refers to the the odds and ends our buyers find in
the used books that they acquire - often old photos, bookmarks, letters,
notes. In Bmail, Paul includes a 'Find of the Week' with a caption
underneath. This is one of those kind of fun, not e-commerce related
things that we do. A

[2016-11-23 00:44] shuchibooksmith commented on #178
FYI - Bud, you should have the archive for Find of the Week already.

[2016-11-23 00:46] shuchibooksmith commented on #164
heads up, closing this issue, it's resolved on my end at least

[2016-11-23 00:46] #164 closed

[2016-11-23 00:50] budparr commented on #177
Hi @shuchibooksmith You can add some books to the "Used Books" collection in the CMS. Once you have a couple in, go to the Used Books page (in Landing Pages) and select the ones you want to show on the page in the "related used books" field on the right.

cc/ @zchyde

[2016-11-23 00:53] budparr commented on #178
Seems to me that the find of the week archive would be like blog posts, correct?

[2016-11-23 14:55] shuchibooksmith commented on #178
Yes, definitely!

On 11/22/2016 7:53 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-11-23 14:57] budparr commented on #178
Okay. So, and not speaking of the archive of stuff, going forward, any blog post can be associated with the category "used-books" and it will show up on the left-hand side of the page (as with the audiobooks page). Does that work for you?

[2016-11-23 15:04] shuchibooksmith commented on #177
Great!! I'm going to have Lydia, one of our Used Book Buyers, try this
out. I'll have her work with Zoe and we'll let you know if there are any
problems.
Thanks!
Shuchi

On 11/22/2016 7:50 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-11-23 15:05] shuchibooksmith commented on #178
yes for the placement, BUT i know they want an image of the book showing
up in the sidebar - not just text. is that possible?

On 11/23/2016 9:57 AM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-11-23 15:10] budparr commented on #178
Hmmm. I'll have to think about that. I don't want to make blog posts too complex. Right now they show the "featured image," which of course is not the same ratio as a book cover. I'll stew on this a bit, but don't let that keep you from doing some posts.

[2016-11-23 15:31] shuchibooksmith commented on #178
Sounds good - thanks for stewing!

On 11/23/2016 10:10 AM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-11-25 16:17] zchyde commented on #177
Hello - confirming I have read this and will watch for an email from Lydia

[2016-11-25 19:42] shuchibooksmith commented on #177
Cool, thanks! It might take a little for her to get on it as of course
everything has just picked up all at once over here, but I'll tell her
to be in touch!

On 11/25/2016 11:17 AM, Zoe wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-11-29 19:17] budparr commented on #177
Hi @shuchibooksmith Just checking to see if you've had a chance to add any books and if you've had an issues with that.

Best,
Bud

[2016-11-29 19:27] shuchibooksmith commented on #177
not yet! sorry, we just kicked into holiday season here so harder to get to the other projects, and i'm waiting for lydia to give this a try since the used book department will be handling directly.

    Shuchi Saraswat
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

 P Please consider the environment before printing this email.

-----

[2016-11-29 19:29] budparr commented on #177
No problem at all. Peter had sent me a note to make sure I prioritized this, so I just wanted to make sure I wasn't letting anything fall through the cracks. I'll work on some other stuff in the meantime, but ready when you are on this, if you feel we need to make changes once you've added some books.

[2016-11-29 21:26] shuchibooksmith commented on #177
Great, thank you for prioritizing! And I'll check in with Lydia.

On 11/29/2016 2:29 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-11-30 22:44] peterbooksmith opened #186 "Fix photos on event partnerships page"
https://www.brooklinebooksmith.com/the-booksmith-event-spaces--partnerships/

Tim emailed me, "Noticed the photo links are broken".  I honestly don't remember what it is supposed to look like.  Additionally, in the coming weeks we may want to update some of the info on this pages.  Thanks.

[2016-12-01 12:51] budparr commented on #186
Hmm. They're on the images subdomain. @zchyde any thoughts?

[2016-12-01 12:57] budparr commented on #186
Actually, think I fixed it. I've got the images showing, but have to have a quick look at the slideshow.

[2016-12-01 13:22] budparr commented on #186
This is fixed now. Closing. It was an issue where the images weren't resolving to https (which we use for security), so I tweaked them a bit.

[2016-12-01 13:22] #186 closed

[2016-12-02 18:24] budparr commented on #184
ref PR #187

[2016-12-02 18:29] budparr commented on #184
I've added programs pages to events, @peterbooksmith. You'll see them listed on the left-side column of the events page. Still some things to do on the content-entry side to display past book discussed. I think this will give your customers a sense of the scope of your regular programming. Let me know what you think.

[2016-12-02 19:16] peterbooksmith commented on #184
Looks good @budparr .  One change please - we're no longer doing the BASH Poetry Reading Series so can you just disappear that?  Thanks.

[2016-12-02 19:29] budparr commented on #184
Thanks, @peterbooksmith. I unpublished BASH.

[2016-12-02 19:29] #184 closed

[2016-12-03 11:57] budparr commented on #22
➤ Bud Parr commented:
➤ shuchibooksmith updated an existing comment to:
Since this is a subscription based club, and completely separate from our usual e-commerce operations, I think it's something we could use a third-party system for. Tim, who you briefly met, is going to handle that part internally. Tim is actually still working on a proposal for this, so we can't even move forward until we get

[2016-12-07 18:12] shuchibooksmith opened #188 "Add blog post for gift suggestions"
@budparr  - we're doing a social media campaign sharing gift suggestions with these photo arrangements called [book bentos ](https://www.instagram.com/brooklinebooksmith/). We'd like to feature these gift ideas (photo and captions) somewhere on the website. The issue is that we're adding new photos every day, up through Christmas Eve, so we'd have to be able to add images to the blog post. That, a

[2016-12-07 18:27] budparr commented on #188
would you prefer to have one blog post, or perhaps several blog posts within one category (with a page listing them all)?

[2016-12-07 18:36] shuchibooksmith commented on #188
I think probably just one blog post, with the most recent image
appearing first? because we're just uploading one photo a day, and we've
been doing this for about 12 days so far and have 15 or so more to go...

On 12/7/2016 1:27 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-12-07 18:45] zchyde commented on #188
I can help wherever needed!

[2016-12-12 18:44] shuchibooksmith commented on #188
Hey @budparr, checking in on this, we should get it up ASAP since we're heading into peak holiday shopping time...

[2016-12-12 18:45] budparr commented on #188
Sure. What do you need from me?

[2016-12-12 18:46] shuchibooksmith commented on #178
Also wondering about this @budparr

[2016-12-12 18:50] shuchibooksmith commented on #188
Well we need to figure out how best to feature our book and gift photos on the website. If we're doing this as a blog post, can it be a featured blog post? Do we have a spot for something like that? And if we're doing this as a blog post, is there a way for us to update it so that as we're uploading photos on Instagram each day we can also update the blog post?

[2016-12-12 18:51] shuchibooksmith commented on #177
Lydia's working on this today, but she did have a good question. She wants there to be a page where all of these rare book blog posts live - so they'd be collected somewhere, the way our blog posts are collected on the blog page. Is this possible for us to do?

[2016-12-12 18:52] budparr commented on #188
Yes, a blog post is best. We can feature it, no problem, it will just be sticky on the top. Can't really make an instagram feed with a blog post though.

[2016-12-12 18:53] shuchibooksmith commented on #177
So it'd look like the blog posts here - https://www.brooklinebooksmith.com/blog/

[2016-12-12 18:54] budparr commented on #177
Yeah, that's not a problem at all. The only difficulty is finding a way to add those old archives without having you just manually enter them, but going forward those posts will be archived and they show up on the main page and we can make an archive page for them.

[2016-12-12 21:50] shuchibooksmith commented on #177
hey @budparr  -
Lydia just put up some Rare books on the UBC page. Dana asked that this get better placement on the page - up at the top, right under the banner photo. Could we put it above the buy back instructions, or to the right of it?
Ideally, it would go under some header like
What's New In the Used Book Cellar
and then
Rare Books
(most recent post here)

and then Find of the Week
(most rece

[2016-12-12 22:54] budparr commented on #177
I'll work on it first thing in the morning. Shouldn't be a problem at all.

[2016-12-12 23:07] shuchibooksmith commented on #177
Great, thank you Bud!

On 12/12/2016 5:54 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2016-12-13 16:57] budparr commented on #177
@shuchibooksmith - I moved the books up on the page (they wouldn't fit in a third column) and made a link down to the rest of the content.

[2016-12-13 19:16] zchyde opened #190 "Kids events - need additional category"
To get kids events to show up on the kids page I've been tagging them as a storytime or a book club even if they aren't. It wasn't an issue before but now that we're labeling those events, I need an additional label that will send the event to the kids page when the event is neither a book club nor a read aloud storytime.

[2016-12-13 19:47] budparr commented on #190
The "program" is "childrens-story-time" that I have loading on the kidsmith page. So, you want a more general category then, sounds like. Working on it.

[2016-12-13 20:33] budparr commented on #190
Now choose the category "Kidsmith" and they will show up on the kidsmith page. Note you have to do that for everything (i.e. the category is the thing that makes it show up on that page, not the program).

[2016-12-14 14:48] zchyde commented on #190
Thank you!

[2016-12-14 14:48] #190 closed

[2016-12-14 16:23] shuchibooksmith commented on #177
@budparr is it possible to have each rare book blog post show up as our blog posts do on [this page](https://www.brooklinebooksmith.com/blog/)? that way customers can scan to see what we have available and then click on the post if they're interested and want more information. lydia is going to be creating a lot more of these posts.
thanks!

[2016-12-14 16:27] budparr commented on #177
Related blog posts will show up in the sidebar to the left. But you mean specifically the used books that you're adding?

[2016-12-14 16:56] shuchibooksmith commented on #177
quick sketch of what i mean - hope this helps?
![image1 3](https://cloud.githubusercontent.com/assets/15218891/21191830/693bc006-c1f4-11e6-9ebd-ff7cb65f19e7.JPG)

[2016-12-14 16:58] shuchibooksmith commented on #177
so those little squares under rare books are just like our blog page, which gives you quick information and then you can click on it for the full post
https://www.brooklinebooksmith.com/blog/

[2016-12-14 17:10] budparr commented on #177
So you want the "Rare Books" listing to be like blog posts in every way, except you only want them to show up on this page and not the blog page.

Then, you want the "Find of the Week" blog posts to also show up on this page (as well as on the blog page).

Is that correct?

[2016-12-14 18:14] shuchibooksmith commented on #177
that's correct @budparr !
thanks.

[2016-12-16 13:07] #171 closed

[2016-12-16 14:42] budparr commented on #171
Hey, @zchyde  - we've made it easier and error-free to input related books to weekly bestsellers and events. Now when you go to make an entry, instead of inputting the ISBN, you'll just start typing the title into the "Related Books" field and select the book or books.

cc: @peterbooksmith

[2016-12-16 18:23] budparr commented on #177
@shuchibooksmith - this is all set.

1) First Edition Books are now blog posts. Selecting the category "Rare Books" on a post will make sure it shows in the body of the page after the first paragraph on the Used Book Cellar page, and will make sure it does not show up in the regular blog page or the home page.

2) As before, selecting the category "Used Book Cellar" will make a post show up on the

[2017-01-04 23:38] shuchibooksmith opened #192 "Create Top 25 Blog Post"
Hello-
I'd like to put up a blog post with the cover images of our Top 25 of 2016. Unfortunately, I found last year's post and all of the cover images are no longer in it - not sure what's going on @budparr ?
https://www.brooklinebooksmith.com/2016/01/01/top-25-books-of-2015/

Maybe this is a post Zoe can help me with?

[2017-01-05 13:09] budparr commented on #192
Hi @shuchibooksmith - I fixed this. I screwed up the page in making the recent changeover to the way we select related books. So, now you should be able to start a new post and select the books you want in "related books" on the bottom right. Let me or @zchyde know if you need any help.

[2017-01-05 14:02] zchyde commented on #192
Sounds good!

[2017-01-05 16:34] shuchibooksmith commented on #192
@budparr @zchyde Would one of you be able to create a blog post for this ASAP? Paul's mentioning it in Bmail, which is all set and waiting to go out, and I thought it'd make sense to link it to the site.
I'm not sure how to create such an image heavy post which is why I'm hoping one of you can do it...
(sorry about this)
A lot of these should already be in the system so hopefully it won't take lon

[2017-01-05 16:40] zchyde commented on #192
Yeah I can take care of this

[2017-01-05 19:16] shuchibooksmith commented on #192
i changed this post to be by "Staff" which is an option in the drop down menu, but when it shows up on the side bar, it says by --- (blank). @budparr, can you fix?

[2017-01-05 19:20] budparr commented on #192
I'll check it out

[2017-01-05 21:44] budparr commented on #192
It's fixed now. I was working on a separate issue to show multiple blog authors, if necessary.

[2017-01-05 21:55] shuchibooksmith commented on #192
great, thanks!

On 1/5/2017 4:44 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-01-06 01:10] shuchibooksmith commented on #192
@budparr @zchyde - one book is missing from the blog post. The Examined Life by Stephen Grosz. Can this be put up ASAP?
And The Little Book of Mindfulness is in the wrong spot.

[2017-01-06 03:33] budparr commented on #192
I fixed them.

[2017-01-06 16:24] zchyde commented on #192
Dang, I tried to move little book of mindfulness through the master branch but I guess it didn't take, sorry.

[2017-01-10 18:48] shuchibooksmith opened #193 "Remove "We Recommend" Section from Events Listings"
Hey @budparr  - wondering if we can get rid of the the "we recommend" section on the individual event listings, that shows the duplicate cover image? is it possible for us to have just the main cover image link to the ABA?

[2017-01-10 18:51] shuchibooksmith commented on #36
Just checking on the status of Find of the Week. I know you have the archive, just hoping we can add it in now. And when we do, if we can differentiate between "Rare Books" and "Find of the Week" on the UBC page.
Thanks!

[2017-01-10 20:06] budparr commented on #193
Fixed this, @shuchibooksmith.

[2017-01-10 20:06] #192 closed

[2017-01-10 20:08] budparr commented on #188
@shuchibooksmith just checking if this is still an open issue.

[2017-01-10 20:18] budparr opened #194 "Make Book Covers work for Featured image on blog posts"
This issue arises out of issue #178, comment here: https://github.com/sonnetmedia/brooklinebooksmith.com/issues/178#issuecomment-262539181 reposting here to make clear what we're working on.

When a post is for a book, sometimes it's appropriate to feature the book cover, at least on non-individual pages. The issue is that

a) We already have a "featured image" function and we don't want to make t

[2017-01-10 20:18] budparr commented on #178
closing this in favor of #194

[2017-01-10 20:18] #178 closed

[2017-01-10 20:19] budparr commented on #177
@shuchibooksmith I'm trying to clean up issues so that we have a handle on what we're working on. I think the core of this issue is complete. Can you let me know and/or close the issue. Thanks!

[2017-01-10 20:22] shuchibooksmith commented on #188
nope, this is all set! it was a feature for the holidays so we aren't updating it anymore.

[2017-01-10 20:22] #188 closed

[2017-01-11 13:46] shuchibooksmith commented on #193
Thanks @budparr, but we still need a link to the ABA listing. Can the cover image that remains link to the book's page on the ABA site?

[2017-01-11 15:59] budparr commented on #193
Yeah, I'm sure I can work something out.

[2017-01-13 20:18] shuchibooksmith commented on #193
Okay, let me know. It's important for the covers to link to the shopping/ABA page.
Thanks!

[2017-01-14 00:31] #193 closed

[2017-01-14 00:37] budparr commented on #193
This is all set, @shuchibooksmith  - and I've added a buy button beneath the cover, too.

[2017-01-14 00:49] shuchibooksmith commented on #193
great, thank you!

On 1/13/2017 7:37 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-01-21 02:04] bot-thenewdynamic opened #195 "Add Find of the Week to the UBC page"
Just adding this back in here, for after we finish the libro.fm page.
keeping https://github.com/sonnetmedia/brooklinebooksmith.com/issues/36 for reference.

[2017-01-21 02:04] bot-thenewdynamic opened #196 "Add Rare Books on UBC Page"
The thing is with the UBC page is that we'd be featuring rare books on there (to start), and only one copy of that book too. There's actually no e-commerce element to it, because they won't be able to purchase those books online. Each listing would have a photo we've taken of the book, a description we've written, and whether it's available or not, and then customers would call the store to ask ab

[2017-01-21 02:04] bot-thenewdynamic opened #197 "Make it easier to input weekly bestsellers"
FYI, @peterbooksmith - I'm working on this, but want to make this a bit easier. Now editors have to put in ISBN's and I'm making it so they just start typing the title and it auto completes.

[2017-01-21 02:04] bot-thenewdynamic opened #198 "discuss staff pages"
@budparr @peterbooksmith I just wanted to get this discussion going. @budparr what were you envisioning for the staff pages?

[2017-01-21 02:04] bot-thenewdynamic opened #199 "Allow for books with no ISBN"
Issue where books with nothing in the ISBN field show up on posts/events with no related book.

problem showed up here: #138

[2017-01-21 02:04] bot-thenewdynamic commented on #198
➤ Bud Parr commented:
When we initially spoke about staff pages I was told that it was a touchy subject, so I need direction on what you may or may not want to do with them. My initial thought on that was to do "staff picks." I'd imagine that if you don't want staff pages we could have blogger pages listing out recent blog posts of whomever is writing on the site. In any case you'd want bios (perh

[2017-01-21 02:04] bot-thenewdynamic opened #200 "Create a way to highlight "alerts" or special events"

[2017-01-21 02:04] bot-thenewdynamic opened #201 "Find of the Week Archive"
I know we spoke about this, but do you think you'd be able to find a spot for the Find of the Week archive on the UBC page?

[2017-01-21 02:04] bot-thenewdynamic commented on #198
➤ Bud Parr commented:
okay! well on the old site we did have staff recs listed under the bookseller's names. i'd like to duplicate that at the very least. i think bio/photo is where it gets touchy, but i'll defer to peter on this. @peterbooksmith, thoughts?

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:04] bot-thenewdynamic commented on #200
➤ Bud Parr commented:
@shuchibooksmith FYI. I've created this as a separate issue. I've given it a "Milestone" of 1.1 meaning that we may not have it for the initial version, but will prioritize it for soon after.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:04] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
sure

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #198
➤ Bud Parr commented:
We (collectively) need to decide on this question and we have yet to do that.  I hate to put things off, but Dana, Lisa and I can talk about this with you, Shuchi asap, and we'll make a decision.  We can share Bud's suggestions with Dana and Lisa, and then we will be able to tell Bud - yes, let's do this or no, let's move on.

[--- Commented from GitHub.com
#commenter peterbo

[2017-01-21 02:05] bot-thenewdynamic commented on #200
➤ Bud Parr commented:
Excellent! Thank you.

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Want to reopen this. There are a few items we want on the UBC page. A "Find of the Week" box, which shows the most recent find of the week, and that then links to our find of the week archive (i can get you that link). We also want two more boxes (that is, a spot for the most recent post, that then links to an archive of all of the posts). The two other boxes will include Rar

[2017-01-21 02:05] bot-thenewdynamic commented on #198
➤ Bud Parr commented:
So we've discussed this a little further and here's what we know we DON'T want:
-full names
-photos
-bios

What we do want:
-links to staff recommendations and blog posts
-links to additional web content regarding staff, like Amy's author interview with Leigh Bardugo, or our top books of the year featured on lithub, etc.

-we've toyed around with the idea of having amy draw a

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
No prob. I'd only encourage you to do FOW stuff, etc in blog posts. We can make it so the book cover is highlighted.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:05] bot-thenewdynamic opened #202 "Create in-page slideshows"
prompted by #94

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
okay, i think the worry with blog posts though is that if they're on the UBC page, they'll end up pushing down the otherwise very necessary buyback info text. so we were thinking of putting it on the righthand side, under the photo credit. thoughts?

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic opened #203 "Review and update local schema for address"
https://schema.org/LocalBusiness

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
No worries. I'll figure out the best way to display it.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
So I now have the archive, which is an enormous folder of images - about 50MB. These images accompanied all the blurbs on the "find of the week archive" page that used to live here: http://www.brooklinebooksmith-shop.com/find-week-archive.
How best do we proceed with this?

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
@budparr, what are your thoughts on how best to handle this?

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
So, I think where we left it was to make blog posts and I'd not list them in the stream, but on a sidebar. Did you not want to do that? For the images, probably best for us to load them up to the folder that I set up for Zoe a while back. She has that info.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
ah right! okay. yes, when @zchyde gets back next week i'll have her upload the archive to the folder so you can see what we're working with. thanks!

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
I just uploaded the archive to dropbox! Thanks!

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Hey, just wondering what's happening with the images on this? Did @zchyde put these in the google cloud storage bucket? I can make the posts as soon as the images are up. And, Zoe, size and [compress](https://github.com/sonnetmedia/brooklinebooksmith.com/wiki/image-compression) the images. You can automate the image re-sizing (I think photoshop does this, I also use automator

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Just to make sure we're on the same page, @zchyde this is where I'm talking about putting the images: https://console.cloud.google.com/storage/browser/images.brooklinebooksmith.com/?project=brookline-booksmith&authuser=0

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
ah yes, okay i put the images in the dropbox, so @zchyde does have
access to them she just has to put them in the cloud. it's a pretty big
file.

On 3/4/2016 2:13 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

P Please consider the environment before printing

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
This is the first time I've heard anything about the find of the week archive, but either way, there are over 500 items here, of varying shapes and sizes. Its going to take me maybe a day or two to sort through everything, pick out what needs to be resized, resize, then compress. I'll let you know when I'm done.

[--- Commented from GitHub.com
#commenter zchyde
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Ok, so I've looked through all of the images at this point, but I have some concerns moving forward. Like I said ,there are a lot of images here. They originally appeared with captions, mostly written by Paul, and some of them do not really make sense without the caption. Some of them have been photoshopped, I assume by Paul, and the changes he made are very funny but also VE

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
To be clear I think these images are interesting and for the most part funny (I can't read that handwriting at all) but I'm not sure they make sense as standalones, thats the crux of my problem. @peterbooksmith @shuchibooksmith

[--- Commented from GitHub.com
#commenter zchyde
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
i just talked to paul and he said he could match the images and the captions, if that's alright @peterbooksmith?

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Sure that's fine.  We do want this.

[--- Commented from GitHub.com
#commenter peterbooksmith
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Ok, @shuchibooksmith can you let him know where the images can be found, if he doesn't have them? And then I guess he can write the captions in a google doc, number them, and then number the photos?

[--- Commented from GitHub.com
#commenter zchyde
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
I don't think you have to do anything to the captions/copy. I just need the images (all with the original names) compressed and put up on the CDN (as mentioned above). I can deal with the captions/copy with a bit of regex. I'll let you know if there's anything for you on that end.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:05] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
No I know you don't need the copy right now, but I brought this up in case we wanted to cut down the amount of images we were planning on including, but I suppose we're not. I will continue compressing them today.

[--- Commented from GitHub.com
#commenter zchyde
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Okay. It'd be easier to cut down after I've got it into our system, just FYI.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Okie doke here it is, compressed and somewhat resized

https://www.dropbox.com/sh/agjhrq81qstnign/AAC4FAT8RobMPs7V5yRWD5pPa?dl=0

[--- Commented from GitHub.com
#commenter zchyde
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Hi @budparr! I just wanted to check in on this. I know you've been working on other projects, but I think (?) we're all caught up, and just want to see if you need anything from us.

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Hi @shuchibooksmith - the ecommerce stuff has been eating up a fair amount of time, but as soon as I finish that I tackle this. I did to the favicon thing.

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
Yes! I saw the favicon. I really like it, I think it looks like the blue box around the white b makes it look like it's pulled right from the storefront sign. Haven't heard any feedback from anyone else, but those are my thoughts.

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
hi @budparr - just want to get this rolling again, when the menu/homepage stuff and libro.fm has been added, want to look at the UBC page and the things we want to add to it (like Find of the Week).
Thanks!

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
okay

[--- Commented from GitHub.com
#commenter budparr
---[gh]

[2017-01-21 02:06] bot-thenewdynamic commented on #201
➤ Bud Parr commented:
@budparr, in theory, however we decide to feature Rare Books would be the same way we'd feature Find of the Week (and both would exist as thumbnails or something like that on the UBC homepage)

[--- Commented from GitHub.com
#commenter shuchibooksmith
---[gh]

[2017-01-21 02:19] #200 closed

[2017-01-21 02:19] #199 closed

[2017-01-21 02:20] #197 closed

[2017-01-21 02:20] #195 closed

[2017-01-21 02:20] #196 closed

[2017-01-26 12:30] budparr commented on #36
Hi @shuchibooksmith Here's the long-awaited Find of the Week Archive.

- Couple of notes. You can choose another image for the top. I just took one off an existing post as I wasn't sure just what you wanted there.
- It's a pretty big page, so we may need to break it into two or three pages. Let me know what you think/want there.

With that I think we've completed all of the UBC/FOTW stuff. Let me

[2017-01-26 12:32] peterbooksmith commented on #36
Hello,

 I will be away from the store at Winter Institute from January 26-31.  I will be checking emails and will reply to you as soon as possible, or you can call the store at 617-566-6660.

 Thank you,

 Peter Win
Assistant Manager / Co-owner
Brookline Booksmith
279 Harvard Street
Brookline, MA 02446
617-566-6660

[2017-01-26 13:08] #198 closed

[2017-01-26 13:08] #201 closed

[2017-01-26 13:08] #202 closed

[2017-01-26 13:08] #203 closed

[2017-01-26 13:09] #177 closed

[2017-02-01 17:44] shuchibooksmith commented on #36
Hi, @budparr.
I just had a look. Thanks for getting all of those uploaded! Just a couple of notes-
-Many of the images are so small that you can't see any of the pertinent details. Can they be bigger, or perhaps make it so you can click on it for enlargement? Maybe have it be set up like I do in the newsletter, where the image is above the text, so it's just one column. That way the image could be

[2017-02-01 17:47] budparr commented on #36
I kind of hid it for the moment, while we finalized it, but I assume we'll be linking to it from the UBC page. Sorry it took a while. Lots of manual processing of the content. At any rate, the one thing I'd like to settle before going back in is if you want it on more than one page, or not? I'll take care of the rest, no problem.

[2017-02-01 18:20] shuchibooksmith commented on #36
Yes, definitely more than one page, especially since the posts go back
so far. This looks great though! I'm so glad we have it back up there!

On 2/1/2017 12:47 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-02-08 18:25] budparr commented on #36
Hi @shuchibooksmith I've made the images larger and broke into two posts. Here they are:
https://www.brooklinebooksmith.com/2006/12/31/find-of-the-week-archive/
https://www.brooklinebooksmith.com/2006/12/31/find-of-the-week-archive-2/

What would be neat (not to make extra work for anyone 😸 @zchyde ) but to make a featured  image for them with a montage of some of the images from the posts.

[2017-02-08 18:37] zchyde commented on #36
I can work on that!

[2017-02-09 15:31] shuchibooksmith opened #204 "add new blogger to list"
can you add the following names to the list of bloggers?
Travis
Kiersten

thanks!

[2017-02-09 15:40] budparr commented on #204
I'm on a train to #AWP right now, but @zchyde should be able to from the CMS

[2017-02-09 15:40] shuchibooksmith commented on #204
You're going to AWP!!!! awesome. have so much fun.

[2017-02-09 15:41] budparr commented on #204
Ah, yeah. I'm speaking on a panel about design stuff. Should be fun.

[2017-02-09 17:12] zchyde commented on #204
Yeah I can take care of this in one second.

[2017-02-09 17:28] zchyde commented on #204
All done!

[2017-02-09 20:05] #204 closed

[2017-02-15 17:15] shuchibooksmith commented on #36
checking in on the featured images portion of this with @zchyde
and @budparr - where does this exist on the website? i want paul to start adding in the new find of the week's he mentions, should he just be doing this as a blog post?

[2017-02-15 17:59] zchyde commented on #36
Its on my list, Events has been doing a lot of ticket stuff this week, but I haven't forgotten

[2017-02-15 19:53] zchyde commented on #36
![find-compressor](https://cloud.githubusercontent.com/assets/15219441/22992692/78ca368a-f38e-11e6-9410-7b6454a7dde6.png)
I'm not sure where to upload it, but I put this together. I checked in landing pages but didn't see anything that looked like find page?

[2017-02-15 20:00] shuchibooksmith commented on #36
ack i LOVE this. :)

On 2/15/2017 2:53 PM, Zoe wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-02-15 20:16] budparr commented on #36
@zchyde They're just blog posts. I gave them an older date to bury them while we finalized the details. You can send me the full-size images and I'll put them in though (easier for me to find).

new ones should just be blog posts, yes.

[2017-02-16 00:47] shuchibooksmith commented on #36
Okay! Let me know when this is accessible to the public @budparr

On 2/15/2017 3:16 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-02-21 18:01] shuchibooksmith commented on #36
Just checking in on this @budparr - want to know whether we should start putting new find of the week's up. Thanks!

[2017-02-21 18:22] budparr commented on #36
Yes, they're just blog posts with . As for the old ones, just need @zchyde to send me the higher res images for the banners (or Zoe, you can do it yourself, and change the dates to something more recent, if you like - either way.).

[2017-02-21 22:28] shuchibooksmith opened #205 "image size in Gwen's blog post"
@budparr, the images in this blog post - https://www.brooklinebooksmith.com/2017/02/21/the-truth-about-blind-dates/
are publishing much smaller in the actual blog post. When I was proofreading the post, the images were larger (which is necessary, because you need to be able to read the text). Can you fix this?

[2017-02-21 23:18] #205 closed

[2017-02-21 23:28] budparr commented on #205
All set, @shuchibooksmith Have a nice night.

[2017-02-22 04:24] shuchibooksmith commented on #36
I think @zchyde is away this week, periodically checking in.
Easy enough to make blog posts...but still can't find where this all
lives on the website?

On 2/21/2017 1:22 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-02-22 13:57] zchyde commented on #36
Hi folks, I had a change of plans and I'm actually here - just yesterday was a bit scattered. Let me work on this image and see what i can do.

[2017-02-22 15:00] zchyde commented on #36
I found the posts, is it just these two from 2006?

[2017-02-22 15:33] budparr commented on #36
Yes, those are the posts. If you give them the UBC category they should show up on that page.

[2017-02-22 16:40] zchyde commented on #36
Ok, they are new designated as such and I changed their post date to 1/1/2017

[2017-02-22 20:39] shuchibooksmith commented on #36
I see it up on the UBC page! Thank you both!
Is it possible for new posts to have the featured image as also the banner image, @zchyde ? Just to differentiate it from the archive?

[2017-02-22 20:46] shuchibooksmith commented on #36
also, after paul creates a new find of the week blog post each week. where will the previous week's post go?

[2017-02-22 20:59] shuchibooksmith opened #206 "bring back 'staff recs' page"
hello! this has been on my to do list for a while - I'd love to bring back our staff recs page. here's what it used to look like on the old version of the site.
http://www.brooklinebooksmith-shop.com/staff-picks

ideas of how best to do this, @budparr ? ideally, it'd be great to somehow sync up bloggers names with their staff recs pages...

[2017-02-22 21:17] peterbooksmith commented on #206
I am interested in any idea you might have about this Bud, but before we really proceed, I want to talk with Dana and Lisa to see if we definitely want this.  Don't mean to cut you off, Shuchi, but I want to consider this first.

[2017-02-22 21:32] budparr commented on #206
FYI, we have a previous [discussion](https://github.com/sonnetmedia/brooklinebooksmith.com/issues/111) on this. I definitely like the idea of recommendation pages though.

[2017-02-22 21:34] budparr commented on #36
they will just flow down the page. We can show however many seems appropriate. Once you have a bunch we can add a separate page for them, if necessary.

[2017-02-23 14:47] shuchibooksmith opened #207 "adjust photos in david duchovny blog post"
sorry, another issue with photo size, this time in gwen's david duchovny blog post. it's basically all photos from david duchovny's signing yesterday. should she upload these photos differently?

[2017-02-23 14:49] peterbooksmith commented on #207
I will not be in the store on Thursday, February 23.  I will reply as soon as possible.
 Thank you,

 Peter Win
Assistant Manager / Co-owner
Brookline Booksmith
279 Harvard Street
Brookline, MA 02446
617-566-6660

[2017-02-23 15:04] zchyde commented on #36
I think I can only have one feature image per post, and that serves as feature image and as banner. So it can either be the banner or it can be a featured image. I think.

[2017-02-23 15:33] zchyde commented on #207
So yeah this is the type of post that I really need to compress the images with, these are so many giant files and Im going to need to take them all down, resize and compress them, and put them all back up. Which is not a problem per se it just takes a long time. Generally when I do that, I also edit the description on the posts to "full-img", thats what will make them full size. I always do this

[2017-02-23 15:41] shuchibooksmith commented on #207
ahh okay. makes sense. let me know when you've done that zoe, and i'll
share the post on facebook.
i think it's worth training gwen how to do that, for sure. i feel like
she'd be up for it too. she uses paul's computer when she's uploading
photos, so i think she's using photoshop there. is that something you
can explain to her over the phone, zoe?

On 2/23/2017 10:33 AM, Zoe wrote:

--
Shuchi Sara

[2017-02-23 15:42] shuchibooksmith commented on #36
hmm okay...thoughts @budparr ?

[2017-02-23 15:46] zchyde commented on #207
Yeah definitely.

[2017-02-23 16:25] budparr commented on #36
I can pretty much accommodate whatever you like, though as you know I'm fairly conservative about adding new fields. Can you explain to me exactly what you're trying to accomplish?

[2017-02-23 16:28] shuchibooksmith commented on #36
sure.
so, when paul creates a new blog post of the new "find of the week," i want him to use the image he uploads as the banner image. this way, when it comes up on the left, it'll look different than the two archive posts, so people will hopefully click on it.

[2017-02-23 16:30] budparr commented on #36
I see. So, presumably, that image won't be big enough to use as a banner image.

[2017-02-23 16:36] shuchibooksmith commented on #36
Probably not, since Paul takes the photos with his phone..

[2017-02-23 16:39] budparr commented on #36
Okay. And this is related to another request, I think you made before, about showing book covers on posts, too. Right?

[2017-02-23 16:40] shuchibooksmith commented on #36
Yes! Right.

[2017-02-23 16:41] budparr commented on #36
Okay. I'll work on this on Monday.

[2017-02-23 16:43] budparr commented on #36
I'm going to close this issue. #194 covers the remaining work.

[2017-02-23 16:43] #36 closed

[2017-02-23 16:49] budparr commented on #207
I recommend JPEG Mini for that process (probably the desktop app). It compresses the image and resizes all just by dragging the images onto the app. They have a web-based, app, which might be better for you, but I'm not sure if the web-based app actually re-sizes too.

http://www.jpegmini.com/

And thanks for being good web citizens!

[2017-02-23 17:21] zchyde commented on #207
All set on this!

[2017-02-23 21:23] shuchibooksmith commented on #207
thank you!!

[2017-02-23 21:23] #207 closed

[2017-03-02 14:47] shuchibooksmith opened #208 "fix numbering on alex's blog post"
hi @budparr -
can you fix the numbering on this blog post? i can't figure out how to do it..
https://www.brooklinebooksmith.com/kidsmith/2017/03/02/how-to-impress-us/

[2017-03-02 15:03] peterbooksmith commented on #208
I will not be in the store February 28-March 2.  I will be returning on Friday, March 3.
 Thank you,

 Peter Win
Assistant Manager / Co-owner
Brookline Booksmith
279 Harvard Street
Brookline, MA 02446
617-566-6660

[2017-03-02 15:09] #208 closed

[2017-03-02 15:10] budparr commented on #208
That was strange, @shuchibooksmith I fixed it for now and see why it was doing that.

[2017-03-02 15:13] shuchibooksmith commented on #208
great, thank you bud!

    Shuchi Saraswat
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

 P Please consider the environment before printing this email.

----------------------------------------
 From: "Bud Parr" <notifications@github.com>
Sent: Thursday, March 02, 2017 10:11 AM
To: "sonnetmedia/brooklinebooksmith.com" <brooklinebooks

[2017-03-02 20:49] shuchibooksmith opened #209 "adjust cover image in Alex's blog post"
sorry, @budparr, me again, same blog post as before. alex uploaded an image to her blog post, but it's now showing up as the banner image? can you see what's up? i just want to share the post on facebook and the banner images are nice on there.
thanks!

[2017-03-02 20:52] zchyde commented on #209
Hi Its me, I'm compressing images now thats its gone, please hold

[2017-03-02 20:53] shuchibooksmith commented on #209
OH okay thanks @zchyde xoxo

[2017-03-03 17:59] zchyde opened #210 "Help!"
Bud I'm not home and I can't find booksmith login link, can you send me a link here I have to make some changes POST HASTE

[2017-03-03 18:13] budparr commented on #210
fixed offline

[2017-03-03 18:13] #210 closed

[2017-03-09 19:12] #194 closed

[2017-03-09 19:21] budparr commented on #194
@zchyde and @shuchibooksmith - this is all set. Now, when you create a new post you'll have an additional field called "Cover Image." You can add an image there in addition to the featured image, if you like. The Cover image will show on the post "cards" (boxes where posts show up around the site, like on the blog page and the UBC page, etc) and in the sidebar of the post itself.

[2017-03-09 19:25] #209 closed

[2017-03-14 17:58] zchyde opened #212 "Kids Events"
I could be wrong, but I don't think the kids events are showing up on the Kidsmith page, programs nor book categories.

[2017-03-14 18:00] shuchibooksmith commented on #212
Thanks for your email. I will be out of the office until Saturday, March 18th. I'll get back to you shortly after I return.

[2017-03-14 19:42] #212 closed

[2017-03-14 19:44] budparr commented on #212
Should be all set. I think it was a result of a software upgrade but I'm checking to see for sure. But at any rate, it's fixed now. Thanks for pointing it out and hope you're managing the weather okay.

[2017-03-20 10:24] peterbooksmith commented on #111
@budparr here's what you and I have discussed:

We are thinking Staff Picks (instead of Staff Recommendations) will be individual posts - so not a time series.  On the home page, "Latest Blog Posts" could just become "Latest Staff Picks" with the most recent at the top.The info that appears there would be a "headline" phrase (as is currently there) and then the book's title and author.

Each pick

[2017-03-20 14:24] shuchibooksmith commented on #111
I'd love for these to be archived under the recommenders name, so if
someone wants to see all of the other books someone has recommended,
they can click on their name and do that.

On 3/20/2017 6:24 AM, peterbooksmith wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-03-20 14:47] peterbooksmith commented on #111
I am not opposed to that though don't think it is necessary either.  Let us know what you think Bud?

[2017-03-20 22:14] budparr commented on #111
So you want an entire entry for one book? How long do you expect the copy to be ?

[2017-03-21 13:25] peterbooksmith commented on #111
Lisa and Shuchi and I are going to discuss that today.  See if we can come up with a basic format.

[2017-03-23 20:34] peterbooksmith commented on #111
@budparr here is what we are thinking.  Replacing the Blog Posts with entries called something like "New on our shelves...".  These entries/posts will be more concise and focused on new books that staff members like.  For us, it's a combination of the staff picks on our physical shelves and the blog posts.  We are telling people 250 words max and entries will mostly focus on one, maybe two books.

[2017-03-23 20:37] peterbooksmith commented on #111
Regarding the banner image for these entries, we are thinking we could just use the book cover image for the banner, as many of our blog posts have.  Along with that, would you be able to replicate that in the list on the homepage, so that instead of the all blue background, each entry would look like a mini version of its banner image?  Like this:  https://www.brooklinebooksmith.com/kidsmith/2017

[2017-03-27 15:21] budparr commented on #111
## Brookline Booksmith Staff Recommendations Specification

### Summary

Replace the existing structure of "blog" with posts focused on staff recommendations.

### Goal

At the moment, blog posts are not generating reader interest (as judged by traffic to those pages), so we want to engage audience with more focused editorial emphasis on staff recommendations.

### Requirements

- Rename blog to "

[2017-03-27 20:31] peterbooksmith commented on #111
1. I can see what you mean, will share that with all and get back to you.

2. "Find of the Week" posts will continue but just exist on the UBC page.  Some of the new posts will be kids book-related and can go on the Kidsmith page.  There may be some other Kidsmith posts (like Stick Figure Amy but we're not certain about that) that could just exist on the Kidsmith page.    Is that workable?

3. We

[2017-04-11 17:02] shuchibooksmith opened #213 "Need help retrieving old blog post"
I'm trying to locate Gwen's blog post from April 19, 2016 - New Book of Poetry Making Waves. It's in the web manager but not online in our blog archives, and we'd like to link to it since that book just won a Pulitzer.

Also, noticed the blog posts aren't time stamped. I know we're changing the format of these, but that's something to look into..

Thanks!

[2017-04-11 22:06] budparr commented on #213
The post is here, @shuchibooksmith https://www.brooklinebooksmith.com/2016/04/19/gc41916/

We often don't put dates on posts so that older ones aren't discounted as being "stale." Happy to put them on there, if you like.

[2017-04-11 23:08] shuchibooksmith commented on #213
Great, thank you!
Will this show up in the archive on the website now?

On 4/11/2017 6:06 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-04-12 01:49] budparr commented on #213
Yes, it's in the archive.

[2017-04-12 01:49] #213 closed

[2017-04-12 19:53] shuchibooksmith commented on #213
It's not on the blog page on the website, unless i'm missing it. I should be between the last post on page 3 and the first post on page 4.

![image](https://cloud.githubusercontent.com/assets/15218891/24976566/034d8a3e-1f98-11e7-94ee-0b3ef77364e7.png)

![image](https://cloud.githubusercontent.com/assets/15218891/24976582/0f43b020-1f98-11e7-87c4-161afe73cf89.png)

[2017-04-12 20:40] budparr commented on #213
You're right! I fixed it. It's on page 4 https://www.brooklinebooksmith.com/blog/page-4/

[2017-04-18 12:11] shuchibooksmith opened #214 "update may 1st event"
hi, @budparr!
i tried updating one of the existing events (jeff vandermeer on may 1st)
- i added another author and the book title in the headline, different copy in the body, and then i thought (?) i correctly added the book into the system and included it. i've done this many time with updating copy, but first time i added in author and book title and book cover. the listing isn't updating on th

[2017-04-18 12:24] budparr commented on #214
I'll have a look

[2017-04-18 12:31] budparr commented on #214
It seems to be up. Do you mean the cover looking funky? I can fix that.
https://www.brooklinebooksmith.com/events/2017-05/jeff-vandermeer-borne/

[2017-04-18 14:47] budparr commented on #214
Okay, @shuchibooksmith Looking better now. Let me know if you have any more issues.

[2017-04-18 14:47] #214 closed

[2017-04-18 16:29] budparr commented on #111
@peterbooksmith have you come up with a different name other than "New on our shelves?"

[2017-04-19 12:38] peterbooksmith commented on #111
As of right now, no, but I will work on that.

[2017-04-19 20:52] peterbooksmith opened #215 "Bookclub page needs updating"
https://www.brooklinebooksmith.com/programs/book-club/

Right now there is no bookclub book listed.  This might just be an error?

[2017-04-19 21:00] budparr commented on #215
I don't see any upcoming events that are classified as bookclub. So what is the behavior you are expecting?

[2017-04-19 21:09] peterbooksmith commented on #215
https://www.brooklinebooksmith.com/events/2017-05/brookline-booksmith-book-club/

This event should be classified as bookclub, so maybe that's the problem?

[2017-04-19 21:18] budparr commented on #215
Yep. That was it. I updated the entry and it's set now.

[2017-04-19 21:18] #215 closed

[2017-04-20 16:00] shuchibooksmith opened #216 "delete red space on ubc homepage"
hello! i was just on the ubc page and the main chunk of text has a red background! ack! can you get rid of it, @budparr ??

[2017-04-20 16:02] #216 closed

[2017-04-20 16:03] budparr commented on #216
Ack. My bad. Fixed now (should show up in a few minutes). thank you.

[2017-04-20 18:54] shuchibooksmith commented on #214
Thanks for fixing the cover images. Was there anything else wrong with
how I updated it, or was it just taking a while for the updated version
to show up on the website?

On 4/18/2017 8:31 AM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-04-21 12:36] budparr commented on #214
I don't think you did anything wrong, no. Might have just been taking a while.

[2017-04-24 16:51] shuchibooksmith opened #217 "fix weekly bestsellers image link"
hi, @budparr !
i created some new books for the weekly bestsellers, and it looks like their images have broken links. i had to grab the cover of 'shattered' off the web because the final cover isn't up on the aba page, but even the ones i created with the aba page cover link seem to not be showing up. what did i do wrong here?

[2017-04-24 17:14] budparr commented on #217
Just looks like maybe you didn't save the entry? Not sure, but everything is working fine. To test, I put in the cover for The American Spirit, and Shattered (the aba one, so you might have to change it) and they're showing up. Give that a try and let me know if you continue to have any issues.

[2017-04-24 18:31] shuchibooksmith commented on #217
okay so i add the link in, but then i can't save - the save disk icon is greyed out, so i can't click on it?

[2017-04-24 18:39] budparr commented on #217
I just put in This Fight is our Fight and it seems to work. Can you send me a link that you're trying to put in?

And just to be sure, this is where you're trying to do it (screenshot):
![screen shot 2017-04-24 at 2 34 21 pm](https://cloud.githubusercontent.com/assets/115347/25352869/6ee1674a-28fb-11e7-882b-39dce8632624.png)

[2017-04-24 18:42] shuchibooksmith commented on #217
@budparr nvm, figured it out!

[2017-04-24 18:45] budparr commented on #217
Awesome!

[2017-04-24 18:45] #217 closed

[2017-04-25 21:15] peterbooksmith commented on #111
@budparr - "What We're Reading Now"  what do you think?

[2017-04-26 13:18] budparr commented on #111
Well part of the issue is that it's long. I think it's better to keep it short. That's four words and 22 characters. If you really want something that long we can make it work, but I'd recommend at least half that.

[2017-04-26 16:08] peterbooksmith commented on #111
I see your point.  We could at least go with "What we're reading" for now, which is a minimal deduction.  I'll see if we can come up with anything more concise.

[2017-04-27 21:18] budparr commented on #111
@peterbooksmith We're nearly done with the coding on this. Can you give us some content, please? A few recommendations would be enough.

cc @AdamChlan

[2017-04-27 22:21] peterbooksmith commented on #111
@shuchibooksmith - do you have some entries you could provide so that they can try this out?  They don't have to be perfect or they don't have to be ones you wanted to use as the first few posts once we're live.

[2017-04-28 21:16] shuchibooksmith commented on #111
Yup, here's one, written by Alex. I haven't proofread or included links
or ISBNs or anything. @budparr, a question for perhaps another thread -
would it be possible to create a preview button? Just so we wouldn't
have to publish to see what it would look like once live. I know the
events team was wondering the same thing.

book review -

NEXT YEAR, FOR SURE

Chris and Kathryn have been together fo

[2017-04-28 21:46] budparr commented on #111
Thanks @shuchibooksmith We're working on a different editor that has a preview. Do you have an ISBN for this title (or is it in the system already?)

[2017-04-28 21:50] shuchibooksmith commented on #111
I don't believe it's in the system @budparr - here's the ISBN.
9781501145858

On 4/28/2017 5:46 PM, Bud Parr wrote:

[2017-05-04 20:46] peterbooksmith commented on #111
a second post:

The Bear and the Nightingale    (review by Amy, ISBN - 9781101885932)

The Bear and the Nightingale unfolds like a well-loved tale told between old friends at night. Set in a Russia situated between deference to the old gods and service to the Christian one, Arden lays out the story of a family steeped in myth. Vasilisa is the last child of her beautiful mother and one made of wild

[2017-05-08 23:17] budparr commented on #111
Hey everyone. Here's the prototype: http://bbs-170508.surge.sh/what-were-reading/

[2017-05-09 11:02] peterbooksmith commented on #111
I like it.  One small correction, The Bear in the Nightingale should read "by Amy" instead of "by Kiersten".

I know "What We're Reading" is still a bit long character-wise, but it is still the best thing we've come up with, and is exactly what we want to describe.

[2017-05-09 18:19] shuchibooksmith commented on #111
Looks great!
How do I go about entering these in?

On 5/9/2017 7:02 AM, peterbooksmith wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-05-09 18:24] shuchibooksmith opened #218 "missing paperback cover for Leaving Russia"
Hi @budparr! We're trying to create a new book record for the paperback of Leaving Russia (9780815610885)  and we want to link to that cover, but the ecommerce site doesn't include a book cover image. What's the best thing to do so that if someone clicks on the cover it'll still go to our website?
(this is the book for the may 24th event).

Thanks!

[2017-05-09 18:47] budparr commented on #111
Hey, @shuchibooksmith we should have them up for you this afternoon to edit.

[2017-05-09 18:51] budparr commented on #218
you can get a cover from the internet. Just add the ISBN in the book entry and it will go to the right page. If there's no (appropriate) cover at all, I'd suggest adding the link to the buy page in the copy of the event.

[2017-05-09 22:15] budparr commented on #111
Okay, this is live on the site now. @shuchibooksmith you'll find the "What we're reading" section in the CMS and they're just like posts.

[2017-05-09 22:15] #14 closed

[2017-05-09 22:15] #111 closed

[2017-05-09 22:15] #139 closed

[2017-05-09 22:15] #145 closed

[2017-05-09 22:15] #159 closed

[2017-05-09 22:15] #206 closed

[2017-05-09 22:15] #218 closed

[2017-05-10 14:58] shuchibooksmith opened #220 "add old blog posts?"
hi @budparr -
the "what we're reading" page looks a little sparse, with just the two posts. it'll take us a while to build content on there. i know peter and i had talked about having the old blog posts on that page somehow, not sure if you guys discussed and what you decided to do with that?

[2017-05-10 14:59] budparr commented on #220
I was told to archive the old posts. They won't fit on that page anyway as it's separate from blog posts.

[2017-05-10 20:04] shuchibooksmith opened #221 "locate what we're reading posts?"
I need to edit the posts that are up, but I can't seem to find them?

[2017-05-10 20:12] budparr commented on #221
It's called "What Were Reading" at the bottom of the list, below programs. Let me know if you don't see it.
<img width="678" alt="screen shot 2017-05-10 at 4 12 13 pm" src="https://cloud.githubusercontent.com/assets/115347/25919049/75795570-359b-11e7-992f-6834a65cc046.png">

[2017-05-10 20:23] shuchibooksmith commented on #221
i see them! but i don't see the cover images linked? how are they appearing on the published post?

[2017-05-10 20:30] shuchibooksmith opened #222 "author name for what we're reading posts?"
the authors name should be part of the post - i've added the author name of each book to the subject line, but then the text over the banner gets a little clunky. suggestions for how to do this better? it'd be great if we could add a line break for the author name?

[2017-05-10 20:31] budparr commented on #221
I'll fix the links. You can edit the books in the books section.

[2017-05-10 20:33] budparr commented on #222
I personally think the text looks okay. But we can add the author name to the books. That's no problem.

[2017-05-10 20:35] shuchibooksmith commented on #221
great, thanks!

[2017-05-10 20:35] #221 closed

[2017-05-10 20:37] shuchibooksmith commented on #222
--But we can add the author name to the books.--
Sorry, not following, where would we add the author name?

[2017-05-10 20:39] budparr commented on #222
I'll need to add the field for you.

[2017-05-10 20:44] shuchibooksmith commented on #222
ah okay, yes that'd be great, thanks!

On 5/10/2017 4:39 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-05-10 21:24] budparr commented on #222
Okay. I fixed those book links (they were there, there was just an error we put in when we added the books). I've added the author field. It shows up just above the post itself with the title. I added the phrase "Comment" as in "Comment by Amy" below that to show that that person is writing the recommendation. I used "Comment because it's generic, but if you want to change that just let me know.

[2017-05-10 21:27] shuchibooksmith commented on #222
Can we change it to "Recommended by" ?

On 5/10/2017 5:24 PM, Bud Parr wrote:

--
Shuchi Saraswat
Backlist Buyer
Brookline Booksmith
279 Harvard Street
Brookline, Massachusetts 02446
617.566.6660
www.brooklinebooksmith.com

[2017-05-10 21:33] #222 closed

[2017-05-10 21:35] budparr commented on #222
All set.

[2017-05-10 22:57] shuchibooksmith commented on #222
thanks!

[2017-05-10 23:13] shuchibooksmith commented on #222
Okay I'm confused - by author I mean the author of the book, not the author of the review. So take this post. I added the author of The Bear and the Nightingale but it doesn't show up on the text underneath (only in the banner - which I really do think looks clunky as one line, if we could separate the lines for author and text, like we do for events, I think that'd be better?)

![image](https://c

[2017-05-11 01:09] peterbooksmith commented on #222
Question - Alex's entry has this both in the banner and underneath.  Does it look weird to have it in both places?  It seems a bit redundant. Thoughts?

![untitled](https://cloud.githubusercontent.com/assets/16725446/25927546/a7e43c72-35c4-11e7-8bba-f907d9774cb1.jpg)

[2017-05-11 01:21] budparr commented on #222
The author is not supposed to be there, just the title. I don't think having the title in the top and lower down is a problem. I've just added an author field for the books, so we'll be switching to just having the author  in the lower part. There might be an issue with the author field, but I should have that resolved by the morning.

[2017-05-11 01:24] peterbooksmith commented on #222
Great, thanks!

[2017-05-11 12:19] budparr commented on #222
I fixed the current entries. And, I added buy buttons to the bottom of the book covers. Let me know if you don't want that.

@shuchibooksmith In the book's entry, add the author there (screenshot attached) in the field "Written by"
<img width="1103" alt="screen shot 2017-05-11 at 8 16 17 am" src="https://cloud.githubusercontent.com/assets/115347/25948656/85800aea-3622-11e7-97d7-e60c803c0878.png">

[2017-05-11 12:45] peterbooksmith commented on #222
I think it looks good

[2017-06-06 14:46] budparr opened #223 "Build Tumblr Feed"
Purpose: To build a page with a feed from BBS's Tumblr account. Use the existing "What We're Reading" menu item.

- [x] Get Tumblr credentials (from @peterbooksmith )
- [x] Get API key
- [x] Build template script (use ICJT as an example)
- [x] Hide away/archive existing "what we're reading" template in case we want to use it later, and disable that collection in config.
- [x] Apply JS template to

[2017-06-06 16:03] peterbooksmith commented on #223
Just let me know what you need - login info, I assume?

[2017-06-06 16:04] budparr commented on #223
Yes. Send it to adamchlan@thenewdynamic.com please. Thanks!

[2017-06-06 21:30] peterbooksmith commented on #223
Just sent that email.  When possible, could I can an estimate of how long this will take?  Thanks.

[2017-06-07 13:36] AdamChlan commented on #223
@peterbooksmith I have received the login info. My goal is to have something to review tomorrow.

[2017-06-09 16:53] AdamChlan commented on #223
Confirming that good progress has been made, but still working on getting a logical first draft of how we will handle the various types of posts in tumbler, and making them show up consistently on the page.

[2017-06-09 18:10] peterbooksmith commented on #223
Got it, thanks for the update

[2017-06-14 11:23] budparr commented on #223
Thanks for this, @AdamChlan I'll post the link (temporary) here: http://brookline-tumblr.surge.sh/tumblr/
Some comments (which are really in place of a design spec since I didn't know what these would look like until they're up):

- [ ] I think the copy needs to be lighter. Make it the same as body copy elsewhere, I think #333.

- [ ] Images need some padding at the top:
<img width="451" alt="scre

[2017-06-14 11:37] budparr commented on #223
[code]
This is just an example, so you can do anything within those pseudo classes, and you may or may not want to use an ascii code for the quote mark. You can use different classes to render them, of course. Hope that's helpful!

[2017-06-14 16:12] peterbooksmith commented on #223
Just FYI - going forward, we are going to avoid posting photos to this feed and stick to our own text and links to other articles.  I realize you need to adapt what's already been posted.  Please let me know if there is anything to could be done to make that easier.  We don't need those images to remain there, if that would help.

[2017-06-14 16:14] budparr commented on #223
Thanks, Peter. We still need to design for all the post types.

[2017-06-14 16:20] peterbooksmith commented on #223
Figured.  Just making sure.  As you see, we hadn't been consistently using tumblr, so it will be easy for us to just focus on certain types of posts now.  That's part of why the idea appealed to us.  Thanks.

[2017-06-20 20:18] AdamChlan commented on #223
Hi @peterbooksmith. Here is an updated link to review:

http://brookline-tumblr-7.surge.sh/what-we-are-reading/

Please let me know any feedback or questions you may have.

[2017-06-21 13:46] peterbooksmith commented on #223
Thanks @AdamChlan I will share this with a few people here.  Just to ask, is there anything that could be done about hiding the older posts from our feed - the photos from 2016 and earlier?  I know you had to work with our feed as it was, but my concern (and anticipating same reaction from others) is that those posts look quite a bit different from the new direction we want to go with this and are

[2017-06-21 14:10] AdamChlan commented on #223
@peterbooksmith is it the photo post in general that you do not like? Do you anticipate not adding any more posts like that, and if you did, would you not want them to to show up in the feed? I could look to exclude photo posts altogether. We think they add a nice visual aspect to page, but I complete understand the concern about not fitting in to your new direction.

[2017-06-21 14:28] peterbooksmith commented on #223
I get what you mean about the visual aspect, but we don't anticipate using this for many photos going forward.  I think our idea with this is to use it mostly to post our own text (like the Bear & the Nightingale staff recommendation) or links to other articles, focusing on book-realted stuff.  Those photos, mostly instagram posts are there from long before this idea an concept that Bud suggested.

[2017-06-24 22:29] peterbooksmith commented on #223
@AdamChlan  - if those older posts could be excluded or hidden somehow, that would be preferred.  If you have to just exclude any with photos, so be it.

[2017-06-27 02:16] AdamChlan commented on #223
@peterbooksmith  Okay, here is an example that excludes the post type "photo" specifically. Let me know if this is more in line with what you are looking for.

http://brookline-no-photo.surge.sh/what-we-are-reading/

[2017-06-27 12:26] peterbooksmith commented on #223
Yes, that's great.  It's just much more what we want to do with this.  Thanks.

[2017-06-27 13:02] AdamChlan commented on #223
Okay, let us know if there are any more items you'd like addressed, and if not, we can make plans to get it live.

[2017-06-27 13:42] peterbooksmith commented on #223
That looks good to go.  Just to make sure I am on the same page, when it goes live, the tumblr posts will also appear on our homepage (https://www.brooklinebooksmith.com/)  in the blue What We're Reading area on the right-hand side, correct?

[2017-06-27 16:12] AdamChlan commented on #223
@peterbooksmith our intention was to not have the Tumblr posts feed into the homepage. Due to the way the different post types show up, some with headlines, some just a large quote, etc, we don't fee like it's going to be the best route. We'd just like to link to it from the menu bar.

The existing What We're Reading info has been stashed away so we can use it if we needed it later.

[2017-06-27 16:54] peterbooksmith commented on #223
I see what you mean, but I did think the plan was to have them feed there.  Otherwise, we are going to want to do something with that space on the homepage, because it is static now and we definitely don't want that.  Our first choice would be to figure out how to have these posts feed - but have it look consistent.

What if we made sure we formatted our posts so that they had headlines?  The four

[2017-06-27 17:21] AdamChlan commented on #223
Okay, I will get a working example in place feeding them in.

[2017-06-27 20:08] peterbooksmith commented on #223
Thank you!

[2017-06-29 18:53] AdamChlan commented on #223
Here is a look at the Tumblr feed on homepage:

http://brookline-tumblr-home.surge.sh/

I set it to show post if they meet the following criteria:
- Must have a title
- Must have an external link

This helps keep the feed looking good, and linking to a relevant place.

[2017-06-29 20:26] peterbooksmith commented on #223
I do like it.  I think we can just work with that criteria, and it's something we'll need to play with, but one question.  If we wanted to make a post (like the recommendation for The Bear and the Nightingale) fit this criteria, it seems like we could just include a link to that book on our online store - would that work as an external link?

[2017-06-29 20:40] AdamChlan commented on #223
Yes, I believe so. Do you want to run a test so we can be sure?

[2017-06-29 20:43] peterbooksmith commented on #223
Sure, I will do another book rec and see

[2017-06-29 20:52] peterbooksmith commented on #223
I can just try it each way, but do you know, if I do a "Text" post, and just include the link in there, will that be adequate?  Or do I need to do a "Link" post?

[2017-06-29 21:05] AdamChlan commented on #223
I believe it would need to be a link post, but i'd recommend testing both ways.

[2017-06-29 21:15] peterbooksmith commented on #223
I just did one of each - the first as Text, the second as Link.  In the link post, I cannot figure out how to make that > after Nevernight go away.  Please feel free to alter as you see fit.  I have to be at on offsite event soon, but I can look at this a bit more later.  Interested to see how each will look.

[2017-07-02 01:08] peterbooksmith commented on #223
@AdamChlan I've tried a few different things, and we can work with this.  I wish there was a way that a Text post (like the Bear & the Nightingale rec) could still work to post on the homepage and the What We're Reading Page.  That way, we could just use this for simple staff recommendations and other articles (with outside links).  If that just won't work, I understand.  We can still work with th

[2017-07-05 02:16] AdamChlan commented on #223
@peterbooksmith I made some adjustments to get Text posts on the homepage. Since the only place to read them is on the Tumblr, no need to require them to have an external link (outside of Tumblr). On the What We Are Reading page, I added a excerpt to text posts, because it looked a bit bare with just the title. Let me know if this is more in line with your hopes for the pages.

http://brookline-ju

[2017-07-05 17:16] peterbooksmith commented on #223
@AdamChlan that's really great.  Definitely what we were thinking.  I did another tumblr post this morning to try something out, but I am going to delete that, along with the last two b/c they weren't really what I wanted, format-wise.  Doing that right now, and then I think we can go live

[2017-07-06 23:50] #223 closed

[2017-07-06 23:55] budparr commented on #223
@peterbooksmith This is live.

[2018-03-17 15:32] budparr opened #228 "Change the way Programs display events"
Issue

[code]

[2018-04-10 20:48] budparr opened #229 "Make the Venues page editable"
currently, the venues landing page needs developer intervention because there are several carousels embedded on the page. We should make that user friendly.